.cart-bar {
  padding: 4px 0;
  font-size: 11px;
  font-weight: 800;
  
  .favs {
    color: white;
    text-transform: uppercase;
    margin-bottom: 0;
    display: inline-block;
  }
  .fav-count {
    color: white;
    text-transform: uppercase;
    padding: 2px 7px;
    background-color: #5b5350;
    margin-right: 35px;
  }
  .cart {
    color: white;
    text-transform: uppercase;
    margin-bottom: 0;
    display: inline-block;
  }
  .cart-count {
    color: white;
    text-transform: uppercase;
    padding: 2px 7px;
    background-color: #ff5c1c;
  }
  .logged {
    color: white;
    text-transform: uppercase;
    margin-right: 15px;
  }
  .text {
    margin-right: 15px;
    img {
      margin-right: 5px;
    }
  }
}

@media only screen and (max-width: 40em) {
  .cart-bar .text {
    display: none;
  }
}