// Finish Options

#finish-closeup {
    background-image: url("./assets/img/_finishes/classic-fir.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100px;

    &.americano-black {
        background-image: url("./assets/img/_finishes/americano-black.png");
    }

    &.antique-cream {
        background-image: url("./assets/img/_finishes/antique-cream.png");
    }

    &.barnyard-red {
        background-image: url("./assets/img/_finishes/barnyard-red.png");
    }

    &.blue {
        background-image: url("./assets/img/_finishes/blue.png");
    }

    &.classic-fir {
        background-image: url("./assets/img/_finishes/classic-fir.png");
    }

    &.clear-coat {
        background-image: url("./assets/img/_finishes/clear-coat.png");
    }

    &.deep-mocha {
        background-image: url("./assets/img/_finishes/deep-mocha.png");
    }

    &.deep-sea-gray {
        background-image: url("./assets/img/_finishes/deep-sea-gray.png");
    }

    &.faded-ebony {
        background-image: url("./assets/img/_finishes/faded-ebony.png");
    }

    &.galveston-gray {
        background-image: url("./assets/img/_finishes/galveston-gray.png");
    }

    &.mint {
        background-image: url("./assets/img/_finishes/mint.png");
    }

    &.mountainview-green {
        background-image: url("./assets/img/_finishes/mountainview-green.png");
    }

    &.sage {
        background-image: url("./assets/img/_finishes/sage.png");
    }

    &.teal {
        background-image: url("./assets/img/_finishes/teal.png");
    }

    &.weathered-oak {
        background-image: url("./assets/img/_finishes/weathered-oak.png");
    }
}

ul#finish-options li {
    cursor: pointer;
    
    img {
        transition: all 100ms;
        border-radius: 100px;
        border: 0 solid #C8B499;
    }

    span {
        text-align: center;
        font-size: 13px;
        padding-top: 10px;
        display: block;
        color: #58585b;
        font-weight: 800;
    }

    &:hover {
        img {
            border: 3px solid #C8B499;
            transition: ease all 100ms;
            border-radius: 100px;
        }

        span {
            color: #6c3a0e;
        }
    }
}