.reviews-header {
    font-size: 30px;
    line-height: 30px;
}

.review-cta {
    //background: $brown-dark;
    text-align: center;
    display: flex;
    align-items: center
}

.reviews-grid {
    @media (min-width: 40em) {
        display: flex;
        flex-wrap: wrap;
    }

    .review-image {
        background-size: cover;
        background-position: center center;
    //    background-color: $brown-light;
        min-height: 330px;
    }
    
    .review-message {
    //    background: $brown-light;
        padding: 40px;
        text-align: center;
    }

    .review-portrait-wrap {
        margin: auto;
        height: 120px;
        width: 120px;
        border-radius: 120px;
        overflow: hidden;
    }
    
    .review-stars {
        font-size: 100px;
        max-width: 230px;
        margin: 40px auto 20px;
        line-height: 0;
        color: $brown-dark;
    }
    
    blockquote {
        font-size: 22px;
        line-height: 1.45;
    }
}