/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  
  @media only screen and (min-width: 780px) {
      height: 100%;
  }
  
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.flex-slider {
    width: 100%;
  
    .slick-list {
        width: 100%;
        
        @media only screen and (min-width: 780px) {
            width: 50%;
        }
        
        @media only screen and (min-width: 64.063em) {
            width: 60%;
        }
    }
 }

.slick-dots li button {
    margin:0;
    height:auto;
    width:100%;
    padding:0;
}

ul.slick-dots {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  background: darken($gray, 3%);
  
  @media only screen and (min-width: 780px) {
      width: 50%;
  }
  
  @media only screen and (min-width: 64.063em) {
      width: 40%;
  }
  
  li {
    display: flex;
    padding: 0;
    margin: 0;
    width: 50%;
    cursor: pointer;
    opacity: 0.45;
    transition: ease all 100ms;
    
    &:hover,
    &.slick-active {
        opacity: 1;
    }
    
    a {
        width: 100%;
        background-size: cover;
        background-position: center center;
    }
  }
}

.flex-slider {
  
    .slickslide {
        @media only screen and (min-width: 780px) {
            display: flex;
        }

        // .slick-list,
        // .slick-track {
        //    min-height: 400px;
        // }
    }

    .slick-next,
    .slick-prev {
        position: absolute;
        bottom: 0;
        background: transparent;
        border: 1px solid rgba(#fff, 0.5);
        border-radius: 100px;
        outline: none;
        transition: ease all 100ms;
        padding: 8px;
        line-height: 0;
        
        &:hover {
            border: 1px solid rgba(#fff, 1);
        }
    }
    
    .slick-prev {
        z-index: 1;
        right: 50px;        
    }
  
    .slick-next {
        right: 10px;
    }
 
    .slide-list {
        width: 50%;
        flex: 1;
    }
  
    .slide-dots {
        flex: 1;
        width: 50%;
        float: right;
    }
    
    .slick-active .review-content {
        animation-name: fadeInUp;
    }
  
  .review-text {
        min-height: 400px;
        display: flex;
        height: 100%;
        flex-direction: column;
        margin-top: auto;
        background: rgba(#000, 0.3);
        
        p {
            padding: 10px 0;
            margin: 0;
            color: #fff;
            font-size: 28px;
            line-height: 1.2;
        }
        
        .review-content {
            position: absolute;
            bottom: 0;
            padding: 40px;
            animation-duration: 1s;
            animation-fill-mode: both;
        }
        
        p.review-meta {
            font-size: 18px;
        }
        
        p.review-quote:before {
            content: '“';
            position: absolute;
            left: 5px;
            margin-top: -18px;
            font-size: 90px;
        }
    }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}