// Workshop 
// Homepage Intro Video

.workshop-headline {
    font-weight: 100;
    padding-top: 0px;
    padding-bottom: 0;
    color: #fff;
    font-size: 50px;
    line-height: 1.4;
    margin: 0 0 8px;
    
    @media only screen and (min-width: 780px) {
        padding-top: 60px;
    }
}

.workshop {
    font-size: 22px;
    
    .full-width-block {
        width: 100%;
        background-size: cover;
        position: relative;
    }

    .video-box video {
        width: 100%;
    }

    .full-width-block-interior-video {
        padding: 140px 0 90px;
        width: 100%;
        max-width: 1110px;
        margin: auto;
        position: relative;
        z-index: 2;
    }

    .video-box {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: inline-block;
        overflow: hidden;
        opacity: 0.4;
    }
}