.wl-already-in {
    display: none;
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    width: 30%;
}
@media only screen and (max-width: 40em) {
    .woocommerce #content div.product div.summary,
    .woocommerce div.product div.summary,
    .woocommerce-page #content div.product div.summary,
    .woocommerce-page div.product div.summary {
        width: 100%;
    }
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
    width: 68%;
}
@media only screen and (max-width: 40em) {
    .woocommerce #content div.product div.images,
    .woocommerce div.product div.images,
    .woocommerce-page #content div.product div.images,
    .woocommerce-page div.product div.images {
        width: 100%;
    }
}

.entry-summary .woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    border-radius: 0;
    font-size: 12px;
    font-weight: 100;
    padding: 20px 0;
    line-height: 13px;
    letter-spacing: 1px;
    width: 50%;
}

.woocommerce .quantity input {
    height: 53px;
    box-shadow: none;
}

.woocommerce div.product .product_title {
    font-weight: 400;
}
@media only screen and (max-width: 2330px) {
    .single-product button.button {
        width: 86% !important;
    }
}
@media only screen and (max-width: 2030px) {
    .single-product button.button {
        width: 83% !important;
    }
}
@media only screen and (max-width: 1715px) {
    .single-product button.button {
        width: 80% !important;
    }
}
@media only screen and (max-width: 1496px) {
    .single-product button.button {
        width: 77% !important;
    }
}
@media only screen and (max-width: 1335px) {
    .single-product button.button {
        width: 74% !important;
    }
}
@media only screen and (max-width: 1210px) {
    .single-product button.button {
        width: 71% !important;
    }
}
@media only screen and (max-width: 1112px) {
    .single-product button.button {
        width: 68% !important;
    }
}
@media only screen and (max-width: 1025px) {
    .single-product button.button {
        width: 81% !important;
    }
}
@media only screen and (max-width: 944px) {
    .single-product button.button {
        width: 76% !important;
    }
}
@media only screen and (max-width: 780px) {
    .single-product button.button {
        width: 73% !important;
    }
}
@media only screen and (max-width: 710px) {
    .single-product button.button {
        width: 70% !important;
    }
}
@media only screen and (max-width: 640px) {
    .single-product button.button {
        width: 85% !important;
    }
}
@media only screen and (max-width: 490px) {
    .single-product button.button {
        width: 82% !important;
    }
}
@media only screen and (max-width: 420px) {
    .single-product button.button {
        width: 79% !important;
    }
}
@media only screen and (max-width: 350px) {
    .single-product button.button {
        width: 72% !important;
    }
}

.product-deposit .product-gallery-images {
    padding: 0;
}

.single-product button.button {
    width: 88%;
}

.single-product a.button {
    width: 100%;
    white-space: normal;
}

.single-product .price {
    margin: 20px 0;
}

.single-product .price .amount {
    font-weight: 700;
    color: #6c3a0e;
    font-size: 26px;
}
@media only screen and (max-width: 40em) {
    .single-product .price .amount {
        font-size: 21px;
    }
}
@media only screen and (max-width: 40em) {
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        width: 100%;
    }
}
@media only screen and (max-width: 40em) {
    .product-remove {
        padding: 0 !important;
    }
}

.woocommerce a.added_to_cart {
    font-size: 12px;
    font-weight: 600;
    line-height: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px 0;
    width: 50%;
    color: black;
    text-align: center;
    background: #e0dacd;
    margin-top: 10px;
}

.woocommerce a.added_to_cart:hover {
    background: #6c3a0e;
    color: white;
}

#product-addons-total {}

.woocommerce div.product div.images div.thumbnails {
    padding-top: 0;
}

.woocommerce ul.products li.product h2 {
    padding-top: 50px;
    font-size: 12px !important;
}
@media only screen and (min-width: 64.063em) {
    .woocommerce ul.products li.product h2 {
        font-size: 14px !important;
    }
}

.woocommerce-loop-product__title {
    color: #58585b;
    font-weight: 700;
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
    width: 100%;
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    width: 100%;
    padding: 0 30px;
}

.mobile-featured-image {
    display: none;
}
@media only screen and (max-width: 40em) {
    .mobile-featured-image {
        display: block;
    }
}

.product_meta {
    display: none;
}

.woocommerce div.product div.images,
.woocommerce div.product div.summary {
    margin-bottom: 0;
}

.product-gallery-images {
    background: #E3E3E3;
    padding: 0;
}
@media only screen and (min-width: 40.063em) {
    .product-gallery-images {
        padding: 80px 0 0;
    }
}
@media only screen and (max-width: 40em) {
    .product-gallery-images {
        background: white;
    }
}

// @media only screen and (max-width: 40em) {
//     .single-product img.attachment-shop_single {
//         display: none !important;
//     }
// }

.return-to-shop {
    display: none;
}

.woocommerce-breadcrumb {
    display: none;
}

.single-product .woocommerce-message {
    display: none;
}

figure.woocommerce-product-gallery__wrapper {
    padding: 0;
    margin: 0;
    
    .woocommerce-product-gallery__image {
        display: block !important;
        width: 100% !important;
    }
}

// Remove links from Gallery images
.woocommerce-product-gallery,
.product-gallery-images a {
    pointer-events: none;
}
