// ==== CONFIGURATION ==== //

// Set all your configuration variables here!

// Width of the overall site as well as the left and right content columns
$width-site:    1000px;
$width-left:    650px;
$width-right:   350px;

// Breakpoints
$break-small:   48em;
$break-medium:  64em;
$break-large:   75em;

// A standard margin
$spacer:        30px;

// Colors

$gray: #58585B;
$brown-dark: #8C7E78;
$brown: #CAB598;
$brown-light: #F4F0EA;

/*!
Theme Name: Unruh 2017
Author: Adam Hairfield, Patrick Litle
Author URI: 
Description: Theme for Unruh Furniture
Version: 0.2
Text Domain: unruh
*/