// ==== GENERAL ==== //
/**
 * Table of Contents:
 *
 * 1.0 - Typography
 * 2.0 - Header
 * 3.0 - Content
 *	~ 3.1 - Pages
 *	~ 3.2 - Posts
 *	~ 3.3 - Widgets
 *	~ 3.4 - Buttons
 *	~ 3.5 - Lists
 * 5.0 - Footer
 * 6.0 - Plugins
 *  ~ 6.1 - Slider
 *  ~ 6.2 - Big Video
**/
/* Type */
/* Colors */
/* Overlay style */
nav .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #332719;
    z-index: 999;
    text-align: center;
    padding: 120px 20px 0;
    overflow: auto;
}

nav .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav .overlay ul li {
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    nav .overlay ul li {
        font-size: 2.3rem;
    }
}
@media only screen and (max-width: 40em) {
    nav .overlay ul li {
        font-size: 2.3rem;
    }
}

nav .overlay ul li a {
    display: block;
    color: #89755a;
    font-size: 20px;
    font-weight: 400;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 0;
}

nav .overlay ul li a:hover {
    color: white;
}

nav .overlay ul li a:focus {
    color: white;
}

nav .overlay ul li a span {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    display: block;
}

nav .overlay ul li label {
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    transition: all 0.2s;
    width: 100%;
}

nav .overlay ul li .pg_logout_btn {
    color: #fff;
    font-size: 18px !important;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    transition: all 0.2s;
    padding: 0;
}

nav .overlay ul li .pg_logout_btn:hover {
    border: none !important;
}

.overlay-appointment {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #e0dacd;
    z-index: 999;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width: 40em) {
    .overlay-appointment {
        height: calc(100% + 1px);
    }
}
@media only screen and (max-width: 40em) {
    .overlay-appointment h1 {
        display: none;
    }
}
@media only screen and (max-width: 40em) {
    .overlay-appointment .caldera-grid label {
        font-size: 16px;
    }
}
@media only screen and (max-width: 40em) {
    .overlay-appointment .caldera-grid textarea.form-control {
        height: 100px !important;
    }
}

.overlay-appointment ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.overlay-appointment ul li {
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .overlay-appointment ul li {
        font-size: 2.3rem;
    }
}
@media only screen and (max-width: 40em) {
    .overlay-appointment ul li {
        font-size: 2.3rem;
    }
}

.overlay-appointment ul li a {
    display: block;
    color: #89755a;
    font-size: 25px;
    font-weight: 400;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 0;
}

.overlay-appointment ul li a:hover {
    color: white;
}

.overlay-appointment ul li a:focus {
    color: white;
}

.overlay-appointment ul li a span {
    font-weight: 900;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    display: block;
}

.overlay-appointment ul li .portal,
.overlay-appointment ul li label {
    color: white;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    transition: all 0.2s;
    width: 100%;
}

.overlay-appointment ul li .pg_logout_btn {
    color: #fff;
    font-size: 18px !important;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    transition: all 0.2s;
    padding: 0;
}

.overlay-appointment ul li .pg_logout_btn:hover {
    border: none !important;
}

.block input[type='radio']:checked + label {
    color: white;
    border-bottom: 1px solid #e0dacd;
    padding-bottom: 5px;
}

.block input[type='radio']:checked ~ .info {
    height: 100%;
    opacity: 1;
    transition: opacity 0.8s all;
}

input[type='radio'] {
    display: none;
}

.info {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.8s all;
}
/* Effects */
.overlay-slidedown {
    visibility: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.6s ease-in-out, visibility 0s 0.6s;
    transition: transform 0.6s ease-in-out, visibility 0s 0.6s;
}

.overlay-slidedown.open {
    visibility: visible;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
}

.overlay-scale {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}

.myDivider {
    display: none;
}
/**
 * 2.0 Header
 * ----------------------------------------------------------------------------
**/
body {
    background: transparent;
}

body.modal-open {
    overflow: hidden !important;
}

.very-top-bar-wrap {
    background: #000000;
}

.very-top-bar-wrap .right {
    margin-right: 10px;
}
@media only screen and (min-width: 64.063em) {
    .very-top-bar-wrap .right {
        margin-right: 0;
    }
}

.very-top-bar-wrap.top {
    display: none;
}
@media only screen and (min-width: 64.063em) {
    .very-top-bar-wrap.top {
        display: block;
    }
}

.very-top-bar-wrap.bottom {
    display: block;
}
@media only screen and (min-width: 64.063em) {
    .very-top-bar-wrap.bottom {
        display: none;
    }
}
@media only screen and (max-width: 40em) {
    .very-top-bar {
        max-width: 100%;
    }
}

.appointment-bar {
    padding: 7px 0 9px;
    background: #CAB598;
}
@media only screen and (min-width: 64.063em) {
    .appointment-bar {
        display: none;
    }
}

.appointment-bar a {
    font-size: 11px;
    color: black;
    text-transform: uppercase;
}

a.border {
    border-bottom: 5px solid #e0dacd;
    transition: none !important;
}

ul.dropdown {
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

ul.dropdown img {
    text-align: center;
}

ul.dropdown h3 {
    font-size: 14px;
    color: #C8B499;
    text-align: center;
    margin: 20px 0 10px;
}

ul.dropdown .dropdown-content-wrap {
    background: #ffffff;
}

ul.dropdown .dropdown-content-wrap.shop .nav-block {
    text-align: center;
    height: 550px;
    padding-top: 20px;
}

ul.dropdown .dropdown-content-wrap.shop .nav-block p {
    max-width: 80%;
    margin: 0 auto;
}

ul.dropdown .dropdown-content-wrap.furniture .nav-block {
    text-align: center;
    height: 500px;
    padding-top: 125px;
}

ul.dropdown .dropdown-content-wrap.furniture .nav-block p {
    max-width: 80%;
    margin: 0 auto;
}

ul.dropdown .dropdown-content-wrap.craftsmanship {
    background: #ffffff;
}

ul.dropdown .dropdown-content-wrap.craftsmanship .nav-block {
    text-align: center;
    height: 500px;
    padding-top: 125px;
}

ul.dropdown .dropdown-content-wrap.craftsmanship .nav-block p {
    max-width: 80%;
    margin: 0 auto;
}

ul.dropdown .dropdown-content-wrap.connect .columns {
    padding: 0;
}

ul.dropdown .dropdown-content-wrap.connect .nav-block-link h3 {
    margin-top: -10px;
}

ul.dropdown .dropdown-content-wrap.connect .nav-block {
    text-align: center;
    height: 250px;
    padding-top: 80px;
    border: 1px solid #d4c3af;
}

ul.dropdown .dropdown-content-wrap.connect .nav-block h3 {
    margin-top: -10px;
}

ul.dropdown .dropdown-content-wrap.connect .nav-block p {
    max-width: 50%;
    margin: 0 auto;
}

ul.dropdown .dropdown-content-wrap.connect .nav-block:hover {
    background-color: #f2f2f2 !important;
}

ul.dropdown li a:hover {
    border-bottom: none !important;
}

ul.dropdown .nav-block-link {
    margin: 0 !important;
    padding: 0 !important;
    text-transform: none !important;
    letter-spacing: 0 !important;
    white-space: normal !important;
}

ul.dropdown .nav-block-link img {
    transition: all 0.3s;
}

ul.dropdown .nav-block-link img:hover {
    opacity: 0.6;
    transition: all 0.3s;
}
@media only screen and (max-width: 1280px) {
    ul.dropdown .dropdown-content-wrap.solutions .nav-block {
        padding-top: 10px;
    }

    ul.dropdown .solutions h3.title {
        padding-top: 40px;
    }
}
@media only screen and (max-width: 1280px) {
    ul.dropdown .dropdown-content-wrap.company .nav-block {
        padding-top: 10px;
    }

    ul.dropdown .company h3.title {
        padding-top: 80px !important;
    }
}

ul.dropdown .company h3.title {
    padding-top: 30px;
}

.dropdown-wrapper {
    margin-top: 5px;
}

.banner {
    margin-top: -10px;
}

.banner .logo img {
    margin-top: 80px;
    width: 500px;
}

.page-insert {
    margin: 0 auto;
    max-width: 71.25rem;
}

.f-topbar-fixed > .container {
    margin-top: 0 !important;
}

.f-topbar-fixed {
    padding-top: 0 !important;
}
@media only screen and (min-width: 40.063em) {
    .right-small {
        display: none;
    }
}

.hamburger {
    float: right;
    margin-top: -29px;
    margin-right: 20px;
}
@media only screen and (max-width: 40em) {
    .hamburger {
        margin-top: -35px;
    }
}
@media only screen and (min-width: 64.063em) {
    .hamburger {
        margin-top: -35px;
    }
}

.hamburger span:after,
.hamburger span:before {
    position: absolute;
    content: '';
}

.hamburger span,
.hamburger span:after,
.hamburger span:before {
    width: 28px;
    height: 4px;
    background-color: #fff;
    display: block;
}

.hamburger span:before {
    margin-top: -7px;
}

.hamburger span:after {
    margin-top: 7px;
}

.hamburger span {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0.2s;
}

.hamburger.open span {
    background-color: transparent;
    -webkit-transition-delay: 0.2s;
}

.hamburger span:before {
    -webkit-transition-property: margin, -webkit-transform;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0;
}

.hamburger.open span:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    -webkit-transition-delay: 0, 0.2s;
    background-color: #e0dacd;
}

.hamburger span:after {
    -webkit-transition-property: margin, -webkit-transform;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0;
}

.hamburger.open span:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    -webkit-transition-delay: 0, 0.2s;
    background-color: #e0dacd;
}
@media only screen and (max-width: 1025px) {
    .top-bar ul.right {
        display: none;
    }

    .right-small {
        display: block;
    }

    .title-area {
        width: 100%;
    }
}

.small-center-large-left {
    text-align: center;
}
@media only screen and (min-width: 64.063em) {
    .small-center-large-left {
        text-align: left;
    }
}

.small-center-large-right {
    text-align: center;
}
@media only screen and (min-width: 64.063em) {
    .small-center-large-right {
        text-align: right;
    }
}
/**
 * 3.0 Content
 * ----------------------------------------------------------------------------
**/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999999999999;
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("./assets/img/loader.gif");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}

#content {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}

.play-button {
    width: 80px;
    opacity: 0.5;
    margin-top: 40px;
}
@media only screen and (min-width: 40.063em) {
    .play-button {
        width: 120px;
        margin-top: 80px;
    }
}

.craftsmanship-top {
    padding-top: 200px;
}
@media only screen and (min-width: 40.063em) {
    .craftsmanship-top {
        padding-top: 350px;
    }
}

.craftsmanship-bottom {
    padding-bottom: 200px;
}
@media only screen and (min-width: 40.063em) {
    .craftsmanship-bottom {
        padding-bottom: 350px;
    }
}

.subpage-header {
    margin-bottom: 0;
    padding: 250px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
}
@media only screen and (max-width: 40em) {
    .subpage-header {
        padding: 250px 0;
    }
}
@media only screen and (min-width: 64.063em) {
    .subpage-header {
        padding: 400px 0;
    }
}

.subpage-header .term-description p {
    font-size: 26px;
    line-height: 32px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: none;
    text-align: center;
    color: #e0dacd;
}
@media only screen and (min-width: 64.063em) {
    .subpage-header .term-description p {
        font-size: 47px;
    }
}

.subpage-header span {
    border-top: 1px solid black;
    display: block;
    width: 100%;
    padding-bottom: 15px;
}

.subpage-header img {
    float: right;
    border: 3px solid white;
    border-radius: 5px;
}

.close-reveal-modal {
    z-index: 9999;
    position: relative !important;
    top: 96px !important;
    left: 20px !important;
}

.product-list {
    padding-top: 100px;
    padding-bottom: 100px;
}

.product-list .term-description {
    display: none;
}

.anchor {
    display: block;
    position: relative;
    top: -140px;
    visibility: hidden;
}

blockquote {
    font-size: 36px;
    font-weight: 200;
    line-height: 47px;
    border-left: none;
    padding-left: 0;
}

cite {
    font-size: 14px;
    font-style: normal;
    margin-top: 10px;
    display: block;
    letter-spacing: 1px;
    color: #43382a;
}

cite:before {
    content: '- ';
}

.cite-title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #234092;
    letter-spacing: 1px;
}

figure {
    text-align: center;
}

figure img.large-margin {
    margin-top: 50px !important;
    max-width: 60%;
}
@media only screen and (max-width: 40em) {
    figure img.large-margin {
        max-width: 80%;
    }
}
@media only screen and (min-width: 64.063em) {
    figure img.large-margin {
        margin-top: 190px !important;
        max-width: 80%;
    }
}

figure img.small-margin {
    margin-top: 50px !important;
    max-width: 30%;
}
@media only screen and (max-width: 40em) {
    figure img.small-margin {
        max-width: 60%;
    }
}
@media only screen and (min-width: 64.063em) {
    figure img.small-margin {
        margin-top: 100px !important;
        max-width: 40%;
    }
}

figure figcaption {
    color: #234092;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 10px;
}

figure figcaption span {
    font-weight: 800;
    padding-bottom: 5px;
    display: block;
}

.right-graphic {
    text-align: center;
}
@media only screen and (min-width: 64.063em) {
    .right-graphic {
        text-align: right;
    }
}

.medium-space {
    clear: both;
    height: 50px;
}
@media only screen and (min-width: 64.063em) {
    .medium-space {
        height: 50px;
    }
}

.reveal-modal {
    width: 80%;
    z-index: 99;
    background: transparent;
    border: none;
    box-shadow: none;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .reveal-modal {
        width: 60%;
        margin-left: -30%;
    }
}
@media only screen and (min-width: 64.063em) {
    .reveal-modal {
        width: 25%;
        margin-left: -14%;
    }
}

.reveal-modal-bg {
    z-index: 9;
}

.headshot {
    text-align: center;
}

.login-remember {
    display: none;
}
/**
 * 3.1 Pages
 * ------------------------------------
**/
.single-product .woocommerce-error {
    margin: 98px auto 0 !important;
    position: absolute !important;
    z-index: 99 !important;
}
@media only screen and (max-width: 40em) {
    .single-product .woocommerce-error {
        margin: 88px auto 0 !important;
        width: 100% !important;
    }
}

.single-product .woocommerce-error li {
    font-size: 20px;
    font-weight: 300;
    color: #43382a;
}
@media only screen and (max-width: 40em) {
    .single-product .woocommerce-error li {
        font-size: 14px;
    }
}

.shop_table_responsive td:before {
    font-family: "Edmondsans", sans-serif !important;
    font-size: 14px !important;
    font-weight: 100 !important;
    text-transform: uppercase !important;
}

.shop_table_responsive .quantity input[type="number"] {
    height: 40px !important;
    display: initial !important;
}

.cart_totals .shop_table_responsive td,
.cart_totals .shop_table_responsive tr {
    float: none !important;
    text-align: left !important;
}

#shipping_state_field {
    width: 100%;
}

.page-checkout .date {
    color: black;
}

.woocommerce-checkout-review-order-table {
    margin-top: 30px !important;
}

.woocommerce-checkout-review-order-table .product-name {
    font-family: "Edmondsans", sans-serif !important;
    font-size: 16px !important;
    font-weight: 100 !important;
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
}

.woocommerce-checkout-review-order-table .product-name .product-quantity {
    font-weight: 100 !important;
}

.woocommerce-checkout-review-order-table .product-total {
    font-size: 16px !important;
}

.woocommerce-checkout-review-order-table .variation p {
    font-size: 14px !important;
    letter-spacing: 0 !important;
    line-height: 21px !important;
}

.woocommerce-checkout-review-order-table .amount {
    font-size: 16px;
    font-weight: 100;
    color: black;
    letter-spacing: 1px;
}

.page-deposit h1,
.woocommerce-cart h1,
.woocommerce-checkout h1 {
    color: #c9b59a;
    margin-bottom: 40px;
}
@media only screen and (max-width: 40em) {
    .page-deposit h1,
    .woocommerce-cart h1,
    .woocommerce-checkout h1 {
        margin-top: 20px;
        margin-bottom: 0;
    }
}

.page-deposit table tfoot,
.page-deposit table thead,
.woocommerce-cart table tfoot,
.woocommerce-cart table thead,
.woocommerce-checkout table tfoot,
.woocommerce-checkout table thead {
    background: #ffffff;
}

.page-deposit .woocommerce-info,
.woocommerce-cart .woocommerce-info,
.woocommerce-checkout .woocommerce-info {
    display: none;
}

.page-deposit .woocommerce table.shop_table,
.woocommerce-cart .woocommerce table.shop_table,
.woocommerce-checkout .woocommerce table.shop_table {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.page-deposit .woocommerce table.shop_table th,
.woocommerce-cart .woocommerce table.shop_table th,
.woocommerce-checkout .woocommerce table.shop_table th {
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    color: #999999;
}
@media only screen and (max-width: 40em) {
    .page-deposit .woocommerce table.shop_table th,
    .woocommerce-cart .woocommerce table.shop_table th,
    .woocommerce-checkout .woocommerce table.shop_table th {
        font-size: 12px;
    }
}
@media only screen and (max-width: 40em) {
    .page-deposit .woocommerce table.shop_table td,
    .woocommerce-cart .woocommerce table.shop_table td,
    .woocommerce-checkout .woocommerce table.shop_table td {
        padding: 5px;
    }
}

.page-deposit .product-name a,
.woocommerce-cart .product-name a,
.woocommerce-checkout .product-name a {
    font-size: 16px;
    font-weight: 100;
    color: black;
    letter-spacing: 1px;
}
@media only screen and (max-width: 40em) {
    .page-deposit .product-name a,
    .woocommerce-cart .product-name a,
    .woocommerce-checkout .product-name a {
        font-size: 12px;
        line-height: 15px;
    }
}

.page-deposit .product-price,
.page-deposit .product-subtotal span,
.woocommerce-cart .product-price,
.woocommerce-cart .product-subtotal span,
.woocommerce-checkout .product-price,
.woocommerce-checkout .product-subtotal span {
    font-size: 16px;
    font-weight: 100;
    color: black;
    letter-spacing: 1px;
}
@media only screen and (max-width: 40em) {
    .page-deposit .product-price,
    .page-deposit .product-subtotal span,
    .woocommerce-cart .product-price,
    .woocommerce-cart .product-subtotal span,
    .woocommerce-checkout .product-price,
    .woocommerce-checkout .product-subtotal span {
        font-size: 12px;
        line-height: 15px;
    }
}

.page-deposit table tr.alt,
.page-deposit table tr.even,
.page-deposit table tr:nth-of-type(even),
.woocommerce-cart table tr.alt,
.woocommerce-cart table tr.even,
.woocommerce-cart table tr:nth-of-type(even),
.woocommerce-checkout table tr.alt,
.woocommerce-checkout table tr.even,
.woocommerce-checkout table tr:nth-of-type(even) {
    background: #ffffff;
}

.page-deposit .woocommerce td.product-name dl.variation dd,
.page-deposit .woocommerce td.product-name dl.variation dt,
.woocommerce-cart .woocommerce td.product-name dl.variation dd,
.woocommerce-cart .woocommerce td.product-name dl.variation dt,
.woocommerce-checkout .woocommerce td.product-name dl.variation dd,
.woocommerce-checkout .woocommerce td.product-name dl.variation dt {
    float: none;
    display: block;
    padding: 0;
    margin: 0;
}

.page-deposit .woocommerce-remove-coupon,
.woocommerce-cart .woocommerce-remove-coupon,
.woocommerce-checkout .woocommerce-remove-coupon {
    font-size: 14px;
    font-weight: 100;
    color: black;
    letter-spacing: 1px;
    margin: 6px 0 0 6px;
    display: block;
}

.page-deposit .woocommerce td.product-name dl.variation dt,
.woocommerce-cart .woocommerce td.product-name dl.variation dt,
.woocommerce-checkout .woocommerce td.product-name dl.variation dt {
    display: none;
}

.page-deposit .woocommerce td.product-name dl.variation dd p,
.woocommerce-cart .woocommerce td.product-name dl.variation dd p,
.woocommerce-checkout .woocommerce td.product-name dl.variation dd p {
    font-size: 16px;
    font-weight: 100;
    color: #999999;
    letter-spacing: 1px;
}
@media only screen and (max-width: 40em) {
    .page-deposit .woocommerce td.product-name dl.variation dd p,
    .woocommerce-cart .woocommerce td.product-name dl.variation dd p,
    .woocommerce-checkout .woocommerce td.product-name dl.variation dd p {
        font-size: 12px;
        line-height: 15px;
    }
}

.page-deposit table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
    width: 300px;
}

.page-deposit table.cart .product-thumbnail,
.woocommerce-cart table.cart .product-thumbnail,
.woocommerce-checkout table.cart .product-thumbnail {
    width: 350px;
}

.page-deposit .coupon,
.woocommerce-cart .coupon,
.woocommerce-checkout .coupon {
    float: left !important;
    width: 415px;
}
@media only screen and (max-width: 40em) {
    .page-deposit .coupon,
    .woocommerce-cart .coupon,
    .woocommerce-checkout .coupon {
        width: 100%;
    }
}

.page-deposit .coupon #coupon_code,
.woocommerce-cart .coupon #coupon_code,
.woocommerce-checkout .coupon #coupon_code {
    width: 200px !important;
    height: 54px !important;
    background: #ffffff;
    font-size: 14px !important;
    font-weight: 100;
    color: #999999;
    text-transform: uppercase;
}
@media only screen and (max-width: 40em) {
    .page-deposit .coupon #coupon_code,
    .woocommerce-cart .coupon #coupon_code,
    .woocommerce-checkout .coupon #coupon_code {
        width: 100% !important;
        margin-bottom: 10px;
    }
}

.page-deposit .cart_totals,
.woocommerce-cart .cart_totals,
.woocommerce-checkout .cart_totals {
    margin-top: 40px;
}

.page-deposit .cart_totals h2,
.woocommerce-cart .cart_totals h2,
.woocommerce-checkout .cart_totals h2 {
    display: none;
}

.page-deposit .cart-collaterals .cart_totals,
.woocommerce-cart .cart-collaterals .cart_totals,
.woocommerce-checkout .cart-collaterals .cart_totals {
    width: 25%;
}

.page-deposit .cart-collaterals .cart_totals table,
.woocommerce-cart .cart-collaterals .cart_totals table,
.woocommerce-checkout .cart-collaterals .cart_totals table {
    border: 0 !important;
}

.page-deposit .cart-collaterals .cart_totals table th,
.woocommerce-cart .cart-collaterals .cart_totals table th,
.woocommerce-checkout .cart-collaterals .cart_totals table th {
    text-align: left;
    font-size: 16px;
    font-weight: 100;
    color: #999999;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.page-deposit .cart-collaterals .cart_totals .amount,
.woocommerce-cart .cart-collaterals .cart_totals .amount,
.woocommerce-checkout .cart-collaterals .cart_totals .amount {
    display: block;
    text-align: right;
    font-size: 16px;
    font-weight: 100;
    color: #999999;
    letter-spacing: 1px;
}

.page-deposit .cart-collaterals .cart_totals .tax-total small,
.woocommerce-cart .cart-collaterals .cart_totals .tax-total small,
.woocommerce-checkout .cart-collaterals .cart_totals .tax-total small {
    display: none;
}

.page-deposit .cart-collaterals .cart_totals .order-total .amount,
.woocommerce-cart .cart-collaterals .cart_totals .order-total .amount,
.woocommerce-checkout .cart-collaterals .cart_totals .order-total .amount {
    color: black;
}

.page-deposit .cart-collaterals .cart_totals .shipping,
.woocommerce-cart .cart-collaterals .cart_totals .shipping,
.woocommerce-checkout .cart-collaterals .cart_totals .shipping {
    display: none;
}

.page-deposit .cart-empty,
.woocommerce-cart .cart-empty,
.woocommerce-checkout .cart-empty {
    text-align: center;
}

.page-deposit #ship-to-different-address,
.woocommerce-cart #ship-to-different-address,
.woocommerce-checkout #ship-to-different-address {
    display: none;
}

.page-deposit .woocommerce-billing-fields h3,
.woocommerce-cart .woocommerce-billing-fields h3,
.woocommerce-checkout .woocommerce-billing-fields h3 {
    display: none;
}

.page-deposit .woocommerce-checkout-payment,
.woocommerce-cart .woocommerce-checkout-payment,
.woocommerce-checkout .woocommerce-checkout-payment {
    border-radius: 0 !important;
}

.page-deposit .woocommerce-checkout-payment input.button,
.woocommerce-cart .woocommerce-checkout-payment input.button,
.woocommerce-checkout .woocommerce-checkout-payment input.button {
    width: 100% !important;
}

.page-deposit .woocommerce .woocommerce-message,
.page-deposit .woocommerce-info,
.woocommerce-cart .woocommerce .woocommerce-message,
.woocommerce-cart .woocommerce-info,
.woocommerce-checkout .woocommerce .woocommerce-message,
.woocommerce-checkout .woocommerce-info {
    border-top-color: #00c8c8;
    font-size: 16px;
    font-weight: 100;
    color: #999999;
}

.page-deposit .woocommerce .woocommerce-message a,
.page-deposit .woocommerce-info a,
.woocommerce-cart .woocommerce .woocommerce-message a,
.woocommerce-cart .woocommerce-info a,
.woocommerce-checkout .woocommerce .woocommerce-message a,
.woocommerce-checkout .woocommerce-info a {
    color: #00c8c8;
}

.page-deposit .woocommerce .woocommerce-message:before,
.page-deposit .woocommerce-info:before,
.woocommerce-cart .woocommerce .woocommerce-message:before,
.woocommerce-cart .woocommerce-info:before,
.woocommerce-checkout .woocommerce .woocommerce-message:before,
.woocommerce-checkout .woocommerce-info:before {
    color: #00c8c8;
}

.page-deposit .woocommerce .woocommerce-message .wc-forward,
.page-deposit .woocommerce-info .wc-forward,
.woocommerce-cart .woocommerce .woocommerce-message .wc-forward,
.woocommerce-cart .woocommerce-info .wc-forward,
.woocommerce-checkout .woocommerce .woocommerce-message .wc-forward,
.woocommerce-checkout .woocommerce-info .wc-forward {
    display: none !important;
}

.page-deposit .wc-proceed-to-checkout,
.woocommerce-cart .wc-proceed-to-checkout,
.woocommerce-checkout .wc-proceed-to-checkout {
    text-align: right;
}

.page-deposit .wc-proceed-to-checkout .checkout-button,
.woocommerce-cart .wc-proceed-to-checkout .checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout .checkout-button {
    width: 200px;
    font-weight: 100 !important;
    font-size: 14px !important;
    color: white !important;
    text-transform: uppercase;
    background-color: #333333 !important;
    display: inline !important;
    padding: 20px !important;
}

.page-deposit .wc-proceed-to-checkout .checkout-button:hover,
.woocommerce-cart .wc-proceed-to-checkout .checkout-button:hover,
.woocommerce-checkout .wc-proceed-to-checkout .checkout-button:hover {
    background-color: #545454 !important;
}
@media only screen and (max-width: 40em) {
    .page-deposit .wc-proceed-to-checkout .checkout-button,
    .woocommerce-cart .wc-proceed-to-checkout .checkout-button,
    .woocommerce-checkout .wc-proceed-to-checkout .checkout-button {
        width: 100%;
    }
}

.page-deposit .woocommerce .cart .button,
.page-deposit .woocommerce .cart input.button,
.woocommerce-cart .woocommerce .cart .button,
.woocommerce-cart .woocommerce .cart input.button,
.woocommerce-checkout .woocommerce .cart .button,
.woocommerce-checkout .woocommerce .cart input.button {
    width: 200px;
    font-weight: 100 !important;
    color: #ffffff !important;
    text-transform: uppercase;
}
@media only screen and (max-width: 40em) {
    .page-deposit .woocommerce .cart .button,
    .page-deposit .woocommerce .cart input.button,
    .woocommerce-cart .woocommerce .cart .button,
    .woocommerce-cart .woocommerce .cart input.button,
    .woocommerce-checkout .woocommerce .cart .button,
    .woocommerce-checkout .woocommerce .cart input.button {
        width: 100% !important;
    }
}

.page-deposit .woocommerce a.remove,
.woocommerce-cart .woocommerce a.remove,
.woocommerce-checkout .woocommerce a.remove {
    color: #DCDCDC !important;
    font-size: 50px !important;
    font-weight: 100;
}

.page-deposit .woocommerce a.remove:hover,
.woocommerce-cart .woocommerce a.remove:hover,
.woocommerce-checkout .woocommerce a.remove:hover {
    background: transparent;
    color: #C8B499 !important;
}

.page-deposit .cart-collaterals .cart_totals table,
.woocommerce-cart .cart-collaterals .cart_totals table,
.woocommerce-checkout .cart-collaterals .cart_totals table {
    border: solid 1px #ddd;
}

#typeform .form .questions {
    margin-top: 0 !important;
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
    width: 100%;
}

.home a.more {
    display: block;
    width: 120px;
    float: right;
    color: #e0dacd;
    text-transform: uppercase;
}

.wc-deposits-wrapper .wc-deposits-option li {
    border-radius: 0;
    box-shadow: none;
    padding: .5em;
}

.wc-deposits-wrapper .wc-deposits-option label {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
@media only screen and (max-width: 40em) {
    .wc-deposits-wrapper .wc-deposits-option label {
        font-size: 12px;
    }
}

.wc-deposits-wrapper .wc-deposits-payment-description {}

.tax-product_cat h1 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 27px;
    margin: 60px 0;
}

.page-the-gentlemen-carpenters .row p {
    font-size: 16px;
    line-height: 23px;
}

.woocommerce ul#shipping_method li:last-child label {
    margin-right: 0;
}

#shipping_method input[type="checkbox"],
.cart input[type="checkbox"],
#shipping_method input[type="radio"],
.cart input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;

    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 10px 0 0;
    background: url("./assets/img/input-sprite.png") -1px top no-repeat;
    vertical-align: middle;

    &:checked {
        background: url("./assets/img/input-sprite.png") -23px top no-repeat;
    }
}

.gentlemen-section {
    background: url("https://unruhfurniture.com/wp-content/uploads/2016/01/gentlemen-carpenters-bg1.jpg") center center no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 40em) {
    .gentlemen-section {
        background: url("https://unruhfurniture.com/wp-content/uploads/2016/01/gentlemen-mobile-bg.jpg") center center no-repeat;
        background-size: cover;
    }
}

.gentlemen-section.show {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://unruhfurniture.com/wp-content/uploads/2016/01/gentlemen-carpenters-bg1.jpg") no-repeat center center;
    background-size: cover;
}
@media only screen and (max-width: 40em) {
    .gentlemen-section.show {
        background: url("https://unruhfurniture.com/wp-content/uploads/2016/01/gentlemen-mobile-bg.jpg") center center no-repeat;
        background-size: cover;
    }
}

.gentlemen-section-text {
    opacity: 0;
    transition: all 0.3s;
}
@media only screen and (max-width: 40em) {
    .gentlemen-section-text {
        opacity: 1;
        transition: all 0.3s;
    }
}

.gentlemen-section-text.show {
    opacity: 1;
    transition: all 0.3s;
}

.pete-dog {
    padding: 95px 0 87px;
    background: url("https://unruhfurniture.com/wp-content/uploads/2016/01/pete-bg.jpg") center center no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 40em) {
    .pete-dog {
        display: none;
    }
}
@media only screen and (min-width: 40.063em) {
    .pete-dog {
        padding: 95px 0 87px 120px;
    }
}

.pete-dog.show {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://unruhfurniture.com/wp-content/uploads/2016/01/pete-bg.jpg") no-repeat center center;
    background-size: cover;
}

.pete-dog-text {
    opacity: 0;
    transition: all 0.3s;
}

.pete-dog-text.show {
    opacity: 1;
    transition: all 0.3s;
}

.moms-bg {
    padding: 94px 0 87px;
    background: url("https://unruhfurniture.com/wp-content/uploads/2016/01/community-bg1.jpg") center center no-repeat;
    background-size: cover;
}
@media only screen and (min-width: 40.063em) {
    .moms-bg {
        padding: 94px 0 87px 120px;
    }
}

.entry-content {
    background: white;
    padding: 40px;
}

.flex-video {
    margin-bottom: 0;
    padding-bottom: 55%;
}

.padding-extra-large {
    padding: 100px 0;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .padding-extra-large {
        padding: 150px 0;
    }
}
@media only screen and (min-width: 64.063em) {
    .padding-extra-large {
        padding: 450px 0;
    }
}

.padding-large-bottom {
    padding: 200px 0 400px;
}
@media only screen and (max-width: 40em) {
    .padding-large-bottom {
        padding: 100px 0 200px;
    }
}

.padding-top-400 {
    padding-top: 400px;
}
@media only screen and (max-width: 40em) {
    .padding-top-400 {
        padding-top: 200px;
    }
}

.padding-top-300 {
    padding-top: 300px;
}
@media only screen and (max-width: 40em) {
    .padding-top-300 {
        padding-top: 150px;
    }
}

.padding-bottom-200 {
    padding-bottom: 200px;
}
@media only screen and (max-width: 40em) {
    .padding-bottom-200 {
        padding-bottom: 100px;
    }
}

.padding-large {
    padding: 200px 0;
}
@media only screen and (min-width: 64.063em) {
    .padding-large {
        padding: 350px 0;
    }
}

.padding-medium {
    padding: 150px 0 100px;
}
@media only screen and (min-width: 40.063em) {
    .padding-medium {
        padding: 200px 0 150px;
    }
}

.padding-small {
    padding: 100px 30px;

    @media only screen and (min-width: 64.063em) {
        padding: 150px 30px;
    }
}

.padding-xsmall {
    padding: 50px 0;
}
@media only screen and (max-width: 40em) {
    .archive-product-wrap {
        width: 100%;
    }
}

.archive-product-wrap .archive-product-image {
    position: relative;
}

.archive-product-wrap .archive-product-description {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 0.3s all;
    width: 100%;
    height: 100%;
    text-align: center;
}

.archive-product-wrap .archive-product-description:focus,
.archive-product-wrap .archive-product-description:hover {
    opacity: 1;
    transition: 0.3s all;
    background: rgba(255, 255, 255, 0.9);
}

.archive-product-wrap .amount {
    color: #6c3a0e !important;
}

.archive-product-wrap .button {
    font-family: "Edmondsans", sans-serif !important;
    padding: 8px 0 !important;
    font-size: 10px !important;
    background: transparent !important;
    border: 1px solid #6c3a0e !important;
    color: #6c3a0e !important;
}

.archive-product-wrap .button:hover {
    background: #6c3a0e !important;
}

.archive-product-wrap .added_to_cart {
    font-family: "Edmondsans", sans-serif !important;
    padding: 8px 0 !important;
    font-size: 10px !important;
    background: transparent !important;
    border: 1px solid #6c3a0e !important;
    color: #6c3a0e !important;
}

.archive-product-wrap .added_to_cart:hover {
    background: #6c3a0e !important;
    color: white !important;
}

.continue-shopping {
    display: none;
}
@media only screen and (min-width: 40.063em) {
    .continue-shopping {
        position: absolute;
        margin-top: 25px;
        font-size: 14px;
        font-weight: 100;
        text-transform: uppercase;
        color: #999999;
        display: block;
    }
}

.continue-shopping-mobile {
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 20px;
    display: block;
}
@media only screen and (min-width: 40.063em) {
    .continue-shopping-mobile {
        display: none;
    }
}

.gentleman {
    max-width: 100%;
    max-height: 850px;
    overflow: hidden;
    text-align: center;
}
@media only screen and (min-width: 64.063em) {
    .gentleman {
        max-height: 450px;
        text-align: left;
    }
}

.gentleman .right-side {
    padding: 66px 0 65px;
}
@media only screen and (min-width: 64.063em) {
    .gentleman .right-side {
        padding: 66px 0 65px 40px;
    }
}
@media only screen and (max-width: 40em) {
    aside {
        margin-top: 60px;
    }
}

aside .panel {
    border: none;
    background: white;
}
@media only screen and (max-width: 40em) {
    aside .panel {
        padding: 0;
    }
}

aside h4 {
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CACACA;
}

aside ul {
    list-style: none;
    margin-left: 0;
}

aside ul li {
    color: black;
    font-size: 18px;
}

aside ul li a {
    color: black;
    font-size: 18px;
}

aside ul li a:hover {
    color: #6c3a0e;
}

.contact-panel {
    border: 2px solid black;
    background: white;
}

.contact-panel p {
    font-size: 32px;
    line-height: 50px;
}

.contact-panel a {
    color: white !important;
    letter-spacing: 2px;
    border-bottom: solid 3px white;
}

.contact-panel a:hover {
    border-bottom: 0;
}
@media only screen and (max-width: 40em) {
    .showroom-mobile {
        background: url("https://unruhfurniture.com/wp-content/uploads/2016/01/mobile-showroom-bg2.jpg") center center no-repeat;
        background-size: cover;
    }
}
@media only screen and (max-width: 40em) {
    .community-mobile {
        background: url("https://unruhfurniture.com/wp-content/uploads/2015/10/community-bg-mobile.jpg") center center no-repeat;
        background-size: cover;
    }
}
@media only screen and (max-width: 40em) {
    .moms-mobile {
        background: #ffffff !important;
        padding-top: 50px !important;
    }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .background-video {
        padding: 200px 0 100px;
    }
}
@media only screen and (max-width: 40em) {
    .background-video {
        padding: 200px 0 100px;
    }
}
@media only screen and (min-width: 64.063em) {
    .background-video .video-text {
        margin-top: -60vh;
    }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .background-video .video-text {
        margin-top: 0;
    }
}
@media only screen and (max-width: 40em) {
    .background-video .video-text {
        margin-top: 0;
    }
}

.background-video #big-video-control-container {
    display: none !important;
}

.background-video.desktop {
    display: none;
}
@media only screen and (min-width: 64.063em) {
    .background-video.desktop {
        display: block;
    }
}

.background-video.mobile {
    display: block;
}
@media only screen and (min-width: 64.063em) {
    .background-video.mobile {
        display: none;
    }
}

#big-video-wrap {
    display: none;
}
@media only screen and (min-width: 64.063em) {
    #big-video-wrap {
        display: block;
    }
}

.page-showroom #big-video-wrap {
    overflow: hidden;
    position: relative;
    height: 100vh;
}
/**
 * 3.2 Posts
 * ------------------------------------
**/
.date {
    display: inline-block;
    color: white;
    font-size: 18px;
    margin-right: 20px;
}

.initials {
    display: inline-block;
    background: white;
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

.initials span {
    display: block;
    padding-left: 9px;
    padding-top: 14px;
    font-weight: 100;
    font-size: 26px;
}

.initials.dark {
    background: #51473e;
}

.initials.dark span {
    color: white;
}

.border-right-large {
    border-right: 0;
}
@media only screen and (min-width: 64.063em) {
    .border-right-large {
        border-right: solid 2px black;
    }
}

.post-wrap {
    margin-bottom: 40px;
}

.post-wrap h2 {
    color: white;
    font-size: 32px;
    text-transform: none;
    padding: 40px;
}

.post-action-wrap {
    padding: 40px;
    background: rgba(81, 71, 62, 0.8);
}

.post-navigation {
    margin-top: 40px;
}

.post-navigation a {
    font-weight: 700;
    font-size: 21px;
    color: black;
}

.post-navigation a:hover {
    color: #6c3a0e;
}

.post-navigation .left a:before {
    content: "< ";
}

.post-navigation .right a:after {
    content: " >";
}

.arrow {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url("./assets/img/arrow.svg") center center no-repeat;
    background-size: contain;
}
@media only screen and (max-width: 40em) {
    .arrow {
        width: 25px;
        height: 25px;
    }
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.arrow-wrap {
    margin: -40px auto 0;
    width: 40px;
    line-height: 0;
}
/**
 * 3.3 Forms
 * ------------------------------------
**/
.light-form .caldera-grid label {
    color: #e0dacd;
}

.caldera-grid .form-control {
    background: #f2f2f2;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.caldera-grid .form-group {
    margin-left: 10px;
}

.caldera-grid textarea.form-control {
    height: 150px !important;
    margin-bottom: 30px;
}

.caldera-grid label {
    color: #43382a;
    font-weight: 100 !important;
    font-size: 18px;
}

.caldera-grid select {
    background: url("./assets/img/select-arrow.png") no-repeat 99% center #f2f2f2 !important;
    margin-bottom: 30px;
}

.caldera-grid select:hover {
    cursor: pointer;
}

.overlay-appointment .caldera-grid select {
    /* background: url(./assets/img/select-arrow.png) no-repeat 99% center #ffffff !important; */
}

.caldera-grid button,
.caldera-grid html input[type=button],
.caldera-grid input[type=reset],
.caldera-grid input[type=submit] {
    color: black !important;
    font-weight: 700 !important;
    font-size: 11px;
    background-color: #C8B499 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px 30px;
    margin-top: 20px;
    border: none !important;
    border-radius: 0 !important;
}

form textarea {
    font-weight: 100;
    font-size: 1em;
    padding: 20px 15px;
}

form .wpcf7-form-control-wrap {
    display: inline-block !important;
    width: 100%;
}

form .comments {
    display: block !important;
}

form input {
    color: #58585b;
    font-weight: 100;
    font-size: 1em !important;
}

form input.wpcf7-not-valid {
    border: 2px solid #e0dacd !important;
}

form input.wpcf7-form-control {
    padding: 30px 15px;
}

form input.wpcf7-submit {
    color: black !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    background-color: #C8B499 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px 30px;
    margin-top: 10px;
    border: 0;
}

form input.wpcf7-submit:hover {
    background-color: #f1f1f2 !important;
    cursor: pointer;
}

form input[type="date"],
form input[type="email"],
form input[type="password"],
form input[type="text"],
form select,
form textarea {
    background-color: #f1f1f2;
    color: #58585b !important;
    font-size: 18px !important;
    font-weight: 400;
    border: 0;
    box-shadow: none;
    padding: 10px 15px !important;
    line-height: 28px !important;
    height: 50px !important;
    margin-bottom: 30px;
}

form option {
    color: #58585b !important;
}

form .wpcf7-textarea {
    height: 150px !important;
}

form .wpcf7-not-valid-tip {
    display: none;
}

form .wpcf7-response-output {
    padding: 0;
    margin: 0;
}

form .wpcf7-validation-errors {
    font-size: 18px;
    color: #58585b;
    line-height: 21px;
    border: none;
    display: none !important;
}

form .wpcf7-mail-sent-ok {
    font-size: 1.2em;
    border: none;
}
/**
 * 3.4 Buttons
 * ------------------------------------
**/
.button {
    color: black !important;
    font-weight: 100 !important;
    font-size: 11px;
    background-color: #C8B499 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px 30px;
    margin-top: 40px;
}

.button.grey {
    background-color: #999999 !important;
    color: black !important;
}

.button.white {
    background-color: white !important;
    color: black !important;
}

.button:hover {
    background-color: #6c3a0e !important;
    color: white !important;
}

.button:active {
    background-color: white !important;
}

.button.showroom-offer {
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
}
@media only screen and (max-width: 40em) {
    .button.showroom-offer {
        margin-left: 0;
    }
}

.product-video {
    font-family: "Edmondsans", sans-serif !important;
    color: #333333 !important;
    font-weight: 100 !important;
    font-size: 15px !important;
    background-color: transparent !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
    padding: 15px 30px !important;
    border: 1px solid #333333 !important;
    margin-bottom: 40px !important;
}

.product-video:hover {
    border: 1px solid #333333 !important;
    background-color: transparent !important;
    color: #333333 !important;
}

.product-archive-button {
    color: #333333 !important;
    font-weight: 100 !important;
    font-size: 15px;
    background-color: transparent !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px 30px;
    border: 1px solid #333333;
}
@media only screen and (max-width: 40em) {
    .product-archive-button {
        display: none;
    }
}

.blog-button {
    color: white !important;
    font-size: 32px;
    background-color: transparent !important;
    letter-spacing: 2px;
    border-bottom: solid 3px white;
}

.blog-button:hover {
    border-bottom: 0;
}

.button-primary {
    color: black !important;
    font-weight: 100 !important;
    font-size: 13px !important;
    background-color: #e0dacd !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    padding: 15px 0;
    margin-top: 20px;
    box-shadow: 0 !important;
    border: 0 !important;
    cursor: pointer;
}

.button-primary:hover {
    background-color: #6c3a0e !important;
    color: white !important;
}

.add_to_cart_button {
    display: none !important;
}

.hide {
    display: none;
}

.thank-you {
    vertical-align: middle;
    font-size: 150px;
    line-height: 160px;
    color: #322720;
    text-transform: uppercase;
    display: inline-block;
}
@media only screen and (max-width: 40em) {
    .thank-you {
        font-size: 80px;
        line-height: 90px;
    }
}

.flexbox-item {
    background-color: #CAB598;
    text-align: center;
    padding: 40px 0;
}

.flexbox-item a {
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    line-height: 24px;
}

.flexbox-item img {
    width: 50px;
    margin: 0 auto 10px;
    display: block;
}

.finish-options-button {
    cursor: pointer;
    margin-top: 40px;
}

.finish-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 0;
}

.single-product-padding {
    padding: 80px 0;
}
@media only screen and (min-width: 40.063em) {
    .single-product-padding {
        padding: 180px 0;
    }
}

.product-deposit .price {
    display: none;
}

.product-deposit .product_title {
    margin-bottom: 30px;
}

.product-deposit .product-archive-button {
    display: none;
}

.finish-item {
    margin: 10px 10px 0 0;
    text-align: center;
    list-style: none;
    flex: 1;
    -webkit-flex: 1;
    min-width: 80px;
    transition: all 0.3s;
}

.finish-item:hover {
    cursor: pointer;
}

.finish-item:hover span {
    color: #6c3a0e;
}

.finish-item:hover img {
    border: 5px solid #C8B499;
    transition: all 0.2s;
}

.finish-item span {
    display: block;
    font-size: 12px;
    line-height: 17px;
}

.finish-item img {
    width: 80px;
    margin-bottom: 10px;
    border-radius: 50px;
}

.questions-form {
    display: none;
}

.questions-form.show {
    display: block;
}

.visit-form {
    display: none;
}

.visit-form.show {
    display: block;
}

.close-button {
    text-align: right;
    margin: 0 20px 30px 0;
    display: block;
}

.wpcf7-form {
    margin: 0 20px;
}

.ff-placeholder {
    display: none;
}
@-moz-document url-prefix() {
    .ff-placeholder {
        display: block;
        color: #58585b;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
    }
    @media only screen and (min-width: 40.063em) {
        .ff-placeholder {
            font-size: 20px;
            line-height: 27px;
        }
    }
}
@media all and (-ms-high-contrast: none) {
    *.ff-placeholder {
        display: block;
        color: #58585b;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
    }
}
/**
 * 3.5 Lists
 * ------------------------------------
**/
ol {
    color: #58585b;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 15px;
}

ol ol {
    list-style-type: lower-alpha;
}
/**
 * 4.0 Footer
 * ----------------------------------------------------------------------------
**/
/**
 * 6.0 Plugins
 * ----------------------------------------------------------------------------
**/
/**
 * 6.1 Slider
 * ------------------------------------
**/
.flexslider {
    height: 100%;
}

.flexslider .slides {
    margin: 0;
    height: 100%;
}

.flexslider .slides p {
    font-size: 40px;
    line-height: 50px;
}
@media only screen and (max-width: 40em) {
    .flexslider .slides p {
        font-size: 24px;
        line-height: 30px;
    }
}

.flexslider .slides .slide-image {
    width: 100%;
    overflow: hidden;
}

.flexslider .flex-direction-nav {
    text-align: center;
}

.flexslider .flex-direction-nav li {
    display: inline-block;
    margin-top: 300px;
}
@media only screen and (max-width: 40em) {
    .flexslider .flex-direction-nav li {
        margin-top: 400px;
    }
}

.flexslider .flex-direction-nav li a {
    color: transparent;
}

.flexslider .flex-direction-nav li a.flex-next {
    background: url("./assets/img/right-arrow.png") center center no-repeat;
    padding: 10px;
}

.flexslider .flex-direction-nav li a.flex-prev {
    background: url("./assets/img/left-arrow.png") center center no-repeat;
    padding: 10px;
}

.flexslider ol {
    list-style: none;
    text-align: center;
    margin: 0;
}

.flexslider ol.flex-control-nav {
    display: none;
    position: relative;
    z-index: 2;
    bottom: 0;
    width: 100%;
    margin-top: -20px;
}

.flexslider ol li {
    display: inline-block;
}

.flexslider ol li a {
    width: 12px;
    height: 12px;
    display: block;
    border: white solid 2px;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    margin: 0 4px;
}

.flexslider ol li a.flex-active {
    background: white;
}

.product-archive-button-wrap {
    text-align: center;
    margin: 0 0 50px;
}

.video-title-wrap {
    position: absolute;
    top: 60%;
    left: 43%;
    margin: -200px 0 0 -200px;
    text-align: center;
}
@media only screen and (max-width: 1400px) {
    .video-title-wrap {
        left: 40%;
    }
}
@media only screen and (max-width: 850px) {
    .video-title-wrap {
        left: 200px;
    }
}

.video-title {
    text-align: center;
    padding-bottom: 40px;
    position: initial;
    width: 100%;
}
@media only screen and (min-width: 40.063em) {
    .video-title {
        width: 680px;
    }
}

.video-title hr {
    height: 2px;
    content: '\a0';
    background-color: white;
    display: none;
}
@media only screen and (min-width: 64.063em) {
    .video-title hr {
        display: block;
    }
}

.video-title h3 {
    letter-spacing: 2px;
    position: relative;
    font-size: 14px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    display: none;
}
@media only screen and (min-width: 64.063em) {
    .video-title h3 {
        display: block;
    }
}

.video-title h3:after,
.video-title h3:before {
    position: absolute;
    top: 39%;
    overflow: hidden;
    width: 48%;
    height: 2px;
    content: '\a0';
    background-color: white;
    display: none;
}
@media only screen and (min-width: 64.063em) {
    .video-title h3:after,
    .video-title h3:before {
        display: inline-block;
    }
}

.video-title h3:before {
    margin-left: -51%;
    text-align: right;
}

.video-title h3:after {
    margin-left: 2%;
    text-align: right;
}

.video-title span {
    color: white;
    font-size: 30px;
    line-height: 35px;
    display: block;
    padding: 20px 0;
}
@media only screen and (min-width: 64.063em) {
    .video-title span {
        font-size: 40px;
        line-height: 45px;
    }
}

.video-title a {
    display: block;
    color: #6c3a0e;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    line-height: 21px;
}

.video-title-button {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: transparent;
    padding: 15px 30px;
    text-align: center;
    color: #c2ae94;
    margin-top: 3px;
    margin-right: 5px;
    border: 1px solid #c2ae94;
}

.video-title-button:hover {
    color: white;
    border: 1px solid white;
}

.video-title-button.alternate {
    background: #c2ae94;
    color: #333333;
}

.video-title-button.alternate:hover {
    border: 1px solid #c2ae94;
}
@media only screen and (max-width: 40em) {
    .video-title-button {
        display: block;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
}

.tp-bullets.simplebullets.round .bullet {
    border-radius: 10px;
    background: none;
    border: 2px solid white;
    margin-right: 5px;
    height: 12px;
    width: 12px;
}

.tp-bullets.simplebullets.round .bullet.selected {
    background: white;
}

.tp-bullets {
    z-index: 999;
}

.thin-line {
    border-top: 1px solid black;
    display: block;
    width: 100%;
    padding-bottom: 15px;
}
@media only screen and (max-width: 40em) {
    .top-caption {
        text-align: center;
    }
}

.absolute-centered {
    overflow: visible;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 73.75rem;
    bottom: auto;
}
@media only screen and (max-width: 1180px) {
    .absolute-centered {
        width: 61.25rem;
    }
}
/**
 * 6.3 Big Video
 * ----------------------------------------------------------------------------
**/
.overlay-close {
    position: absolute;
    right: 20px;
    top: 96px;
    z-index: 99;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s;
    font-size: 64px;
    color: #6c3a0e;
}

.overlay-close:hover {
    opacity: 1;
    cursor: pointer;
    transition: all 0.3s;
}
@media only screen and (max-width: 40em) {
    .overlay-close {
        right: 15px;
        top: 73px;
    }
}

.video-overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    z-index: 2;
    left: -100%;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

.phone-title {
    font-size: 12px;
    color: #beb089;
}

.phone {
    font-size: 12px;
    color: white;
}

.single-craftsmanship .video-overlay {
    overflow: hidden !important;
    position: fixed !important;
}

.single-craftsmanship .video-container {
    position: fixed !important;
}

.video-container {
    width: 100%;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    margin-top: -50px;
}

.page-showroom .video-container,
.single-product .video-container {
    position: fixed;
}

.close-video-overlay {
    position: absolute;
    right: 20px;
    top: 96px;
    z-index: 99;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s;
    font-size: 64px;
    color: #e0dacd;
}

.close-video-overlay:hover {
    opacity: 1;
    cursor: pointer;
    transition: all 0.3s;
}
/* Class to fade in overlay */
.show {
    display: block;
}

#big-video-wrap {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#big-video-image,
#big-video-vid {
    position: absolute;
}

#big-video-control-container {
    position: fixed;
    bottom: 20px;
    padding: 0 20px;
    width: 100%;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

#big-video-control {
    width: 100%;
    height: 16px;
    position: relative;
}

#big-video-control-middle {
    margin: 0 56px 0 24px;
}

#big-video-control-bar {
    width: 100%;
    height: 16px;
    position: relative;
    cursor: pointer;
}

#big-video-control-progress {
    position: absolute;
    top: 7px;
    height: 3px;
    width: 0;
    background: #fff;
}

#big-video-control-track {
    position: absolute;
    top: 8px;
    height: 1px;
    width: 100%;
    background: #fff;
}

#big-video-control-bound-left {
    left: 0;
}

#big-video-control-bound-right {
    right: -1px;
}

#big-video-control-track .ui-slider-handle {
    opacity: 0;
}

#big-video-control-playhead {
    left: 30%;
}

#big-video-control-play {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-image: url("bigvideo.png");
}

#big-video-control-timer {
    position: absolute;
    top: 1px;
    right: 0;
    color: #fff;
    font-size: 11px;
}

#big-video-control-bound-left,
#big-video-control-bound-right,
#big-video-control-playhead {
    position: absolute;
    top: 0;
    height: 16px;
    width: 1px;
    background: #fff;
}

#big-video-control .ui-slider-handle {
    border-left: solid 1px #fff;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -8px;
}

.transparent {
    -ms-filter:  "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.vjs-big-play-button {
    display: none !important;
}

.wrapper {
    position: fixed;
    width: 500%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.showroom-wrapper {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    margin-top: -100vh;
}
@media only screen and (max-width: 40em) {
    .showroom-wrapper {
        background: transparent;
    }
}

.screen.show {
    background: black;
}

#screen-1 .big-image-mobile {
    display: none;
}
@media only screen and (max-width: 40em) {
    #screen-1 .big-image-mobile {
        display: block;
    }

    #screen-1 .big-image {
        display: none;
    }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    #screen-1 .big-image-mobile {
        display: block;
    }

    #screen-1 .big-image {
        display: none;
    }
}

#screen-2 .big-image-mobile {
    display: none;
}
@media only screen and (max-width: 40em) {
    #screen-2 .big-image-mobile {
        display: block;
    }

    #screen-2 .big-image {
        display: none;
    }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    #screen-2 .big-image-mobile {
        display: block;
    }

    #screen-2 .big-image {
        display: none;
    }
}

#screen-3 .big-image-mobile {
    display: none;
}
@media only screen and (max-width: 40em) {
    #screen-3 .big-image-mobile {
        display: block;
    }

    #screen-3 .big-image {
        display: none;
    }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    #screen-3 .big-image-mobile {
        display: block;
    }

    #screen-3 .big-image {
        display: none;
    }
}

#next-btn {
    position: fixed;
    right: 80px;
    top: 50%;
    padding: 20px;
    opacity: 0.4;
    cursor: pointer;
    z-index: 0;
}
@media only screen and (max-width: 40em) {
    #next-btn {
        right: 20px;
        bottom: 0;
        top: inherit;
    }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    #next-btn {
        right: 20px;
        bottom: 0;
        top: inherit;
    }
}

#next-btn:hover {
    opacity: 0.6;
}

#prev-btn {
    position: fixed;
    left: 80px;
    top: 50%;
    padding: 20px;
    opacity: 0.4;
    cursor: pointer;
    z-index: 0;
}
@media only screen and (max-width: 40em) {
    #prev-btn {
        left: 20px;
        bottom: 0;
        top: inherit;
    }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    #prev-btn {
        left: 20px;
        bottom: 0;
        top: inherit;
    }
}

#prev-btn:hover {
    opacity: 0.6;
}

.next-icon {
    display: block;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #fff;
    text-decoration: none;
}

.prev-icon {
    display: block;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
    color: #fff;
    text-decoration: none;
}

.reveal-modal {
    height: 100%;
    width: 100%;
    top: 0 !important;
    margin: 0 !important;
    left: 0 !important;
    padding: 0 !important;
}

.home-volume {
    color: white;
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    font-size: 40px;
    z-index: 10;
    text-align: center;
    width: 100%;
    display: none;
    cursor: pointer;
}

.home-volume .fa-fw {
    text-align: left;
}

.home-volume .fa-fw:before {
    text-shadow: 0 0 1px #000;
}

.screen {
    position: relative;
    height: 100%;
    width: 20%;
    float: left;
    overflow: hidden;
}

.big-image,
.big-image-mobile {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}

.overlay-appointment .form-container {
    padding: 130px 20px 0;
}
@media only screen and (min-width: 40.063em) {
    .overlay-appointment .form-container {
        padding: 200px 0 0;
    }
}
/**
 * 6.4 Woocommerce
 * ----------------------------------------------------------------------------
**/
.main-content {
    width: 100%;
    margin: 0 auto;
    max-width: 71.25rem;
    *zoom: 1;
}

.main-content:after,
.main-content:before {
    content: " ";
    display: table;
}

.main-content:after {
    clear: both;
}

.main-content aside {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 50%;
    float: left;
}

.main-content article {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 50%;
    float: left;
}