@media only screen and (min-width: 40.063em) {
    .overlay-appointment .form-container {
        padding: 200px 0 0;
        width: 90%;
        margin: 0 auto !important;
        display: block;
        float: none;
    }
}

.overlay-appointment .form-container {
    padding: 130px 20px 0;
    width: 100%;
    margin: 0 auto;
}

.caldera-grid .form-control,
.form-control {
    background: #f2f2f2 !important;
}

#fld_9061908_2,
.workshop .light {
    color: #fff !important;
}

.overlay-appointment {
    background: #E0DACC;
}

#video {
    display: none;
}

#fld_3972240_2,
form input[type="date"],
form input[type="email"],
form input[type="password"],
form input[type="text"],
form select,
form textarea {
    font-family: "Edmondsans", sans-serif;
    /* background-color: #ffffff !important; */
}

.full-width-block-interior h3 {
    text-transform: capitalize;
    font-size: 23px;
}

#schedule {
    background: #f4f0ea;
}

#schedule h3 {
    margin-top: 20px;
    margin-bottom: 50px;
}

form input.wpcf7-submit:hover {
    background-color: #333 !important;
    color: #fff;
    cursor: pointer;
}

#schedule .full-width-block-interior {
    max-width: 1120px;
}

.button-green,
.gfdfysdf a {
    background: rgba(202, 181, 152, 0.8);
    margin-right: 20px;
    border-radius: 3px;
    font-size: 22px;
    color: #fff !important;
    font-weight: 900;
    display: inline-block;
    line-height: 1;
    padding: 22px 40px;
    white-space: nowrap;
    text-align: center;
    border-radius: 0 5px 5px 20px;
}

.gfdfysdf p {
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: 23px;
    line-height: 1.5;
}

.full-width-block-interior h2 {
    text-align: center;
    font-size: 47px;
    font-weight: 100;
    color: #5a4a42;
    /* font-family: "edmondsans-r", sans-serif; */
    text-transform: capitalize;
}

.videoblockx {
    display: block;
    padding: 50px 0;
}

div.quote-circle:hover {
    cursor:pointer;
    width: 160px;
    height: 160px;
    border: 2px solid #fff;
    background-size: cover;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
}

.online-title-quote em {
    font-size: 25px;
    text-align: right;
    display: block;
}

.wpcf7-form p {
    margin-bottom: 0;
}

.home-sub-text {
    color: #fff;
    font-size: 23px;
    font-style: italic;
    margin-bottom: 40px;
}

.quote-circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
}

a.quote-circle:hover {}

.quote-circle-brian {
    width: 160px;
    height: 160px;
    background: url("/wp-content/uploads/2015/09/b-clark.png") no-repeat center;
    background-size: cover;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
}

.play-quote {
    background-color: #fff;
    width: 180px;
    height: 180px;
    opacity: 0.5;
}

.logox {
    padding: 20px 0;
    background-color: #f8f5f0;
}

.logox p {
    margin: 0;
}

.full-width-block-interior-quote-sales {
    padding: 150px 0 90px;
    width: 100%;
    max-width: 1110px;
    margin: auto;
    position: relative;
    z-index: 2;
    /* background: rgba(0, 0, 0, 0.58); */
}

.online-quote {
    /*  */
    font-weight: 400;
    width: 70%;
    text-align: right;
    float: right;
    color: #fff;
    line-height: 200% !important;
    padding-top: 0;
    padding-bottom: 20px;
    font-size: 22px;
    font-size: 2rem;
    line-height: 1.4;
    letter-spacing: 2px;
    margin: 0;
    text-shadow: 1px 1px 3px #000;
}

.online-quote-person {
    text-align: right;
    font-weight: 400;
    color: #ffffff;
    line-height: 160% !important;
    padding-top: 0;
    padding-bottom: 20px;
    font-size: 14px;
    font-size: 21px;
    line-height: 1.4;
    letter-spacing: 2px;
    margin: 0;
    float: right;
    clear: both;
    text-shadow: 1px 1px 3px #000;
}

.button-video {
    background: rgba(160, 160, 160, 0.8);
    margin-right: 20px;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    line-height: 1;
    padding: 22px 40px;
    white-space: nowrap;
    text-align: center;
    border-radius: 0 20px 5px 5px;
}

.button-video:hover {
    background-color: rgba(155, 155, 155, 1);
    color: #fff;
    cursor: pointer;
}

a:hover {
    color: #72ddb2;
}

a:active,
a:hover {
    outline: 0;
}

.button-green-stroke {
    background: rgba(202, 181, 152, 0.8);
    margin-right: 20px;
    border-radius: 3px;
    color: #fff !important;
    font-weight: 600;
    display: inline-block;
    line-height: 1;
    padding: 22px 40px;
    white-space: nowrap;
    text-align: center;
    border-radius: 0 5px 5px 20px;
}


.eds-scroll-hidden,
.edsanimate-sis-hidden {
    opacity: 0;
}

.eds-scroll-visible {
    opacity: 1;
}

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
}

.duration2 {
    -webkit-animation-duration: 1s !important;
    -moz-animation-duration: 1s !important;
    -ms-animation-duration: 1s !important;
    -o-animation-duration: 1s !important;
}

.bottom-pad {
    padding-bottom: 30px;
}

.one-third-center {
    width: 52.81196581196582%;
    float: center;
    margin-left: auto;
    margin-right: auto;
    width: 52%;
}

.videoWrapperTrigger h3 {
    padding-top: 50px;
    font-size: 34px;
    text-transform: inherit;
    font-family: 'Edmondsans';
    color: #fff;
    /* text-shadow: 1px 1px 3px #000; */
}

.videoWrapperTrigger {
    padding: 100px 50px;
    text-align: center;
}

.workshop .full-width-block {
    width: 100%;
    background-size: cover;
    position: relative;
}

.videoblockx {
    background: rgba(0, 0, 0, 0.61);
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe:not([seamless]) {
    border-top-width: 0 !important;
    border-top-style: none;
    border: none !important;
}

.wp-caption,
embed,
iframe,
img,
object,
video {
    max-width: 100%;
}

.videoWrapperHide {
    display: none;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.overlay-x {
    cursor: pointer;
    display: none;
    font-size: 18px;
    font-weight: 600;
    color: #797979;
    background-color: #fff;
    position: absolute;
    letter-spacing: 2px;
    border-radius: 3px;
    padding: 16px 20px;
    margin-top: 30px;
    left: 30px;
    top: 0;
    z-index: 2;
}

.full-width-block {
    width: 100%;
    background-size: cover;
    position: relative;
}

.full-width-block-interior img {
    max-height: 89px;
}

.overlay {
    background-color: #33353b;
    opacity: 1;
}

.video-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: inline-block;
    overflow: hidden;
    opacity: 0.4;
}

.full-width-block-interior,
.full-width-block-interior-logos {
    padding: 10px 0;
    width: 100%;
    max-width: 1320px;
    margin: auto;
    position: relative;
    z-index: 2;
}

.for-mobile-only {
    display: none;
}

.online-title {
    /*  */
    font-weight: 100;
    color: #8c7e78;
    line-height: 160% !important;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 40px;
    font-size: 40px;
    line-height: 1.4;
    /* letter-spacing: 8px; */
    margin: -20px 0 60px;
    clear: both;
    display: block;
}

.one-eighth {
    width: 10.2%;
    margin-left: 4.2;
}

.first {
    clear: both;
    margin-left: 0;
}

.page-template-page-landing .wrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;
    clear: both;
    height: 100%;
    z-index: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    min-height: 500px;
}

.page-template-page-landing .screen {
    height: 100%;
    width: 100%;
}

.bumper {
    min-height: 100px;
}

.online-title-quote {
    font-size: 30px;
    line-height: 1.5;
    max-width: 1100px;
    margin: 80px auto;
    display: block;
}

#full-width-block-interiorx {
    padding-top: 0 !important;
}
/* Column Classes
	Link: https://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */
.five-sixths,
.four-sixths,
.one-eighth,
.one-fifth,
.one-fourth,
.one-fourth-vid,
.one-half,
.one-seventh,
.one-sixth,
.one-third,
.three-fourth-vid,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
    float: left;
    margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
    width: 48.717948717948715%;
}

.one-third,
.two-sixths {
    width: 31.623931623931625%;
}

.one-third-slider {
    width: 33.333333333333333%;
}

.four-sixths,
.two-thirds {
    width: 65.81196581196582%;
}

.two-thirds-center {
    width: 65.81196581196582%;
    float: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.three-fourths-center {
    width: 85.81196581196582%;
    float: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.one-third-center {
    width: 52.81196581196582%;
    float: center;
    margin-left: auto;
    margin-right: auto;
    width: 52%;
}

.one-fifth {
    width: 17.9487179487179488%;
}

.form-container {
    padding: 20px 2em 60px;
    background: #E0DACC;
    width: 65.81196581196582%;
    margin-left: auto;
    margin-right: auto;
}

.one-fourth {
    width: 23.076923076923077%;
}

.three-fourths {
    width: 74.35897435897436%;
}

.one-sixth {
    width: 14.52991452991453%;
}

.one-seventh {
    width: 12.02%;
}

.one-eighth {
    width: 10.2%;
    margin-left: 4.2;
}

.one-eighth-button {
    width: 11.111%;
    margin: 0 !important;
}

.five-sixths {
    width: 82.90598290598291%;
}

.first {
    clear: both;
    margin-left: 0;
}
/*
Common Classes
---------------------------------------------------------------------------------------------------- */
.bottom-pad {
    padding-bottom: 30px;
}

.margin-top {
    margin-top: 20px;
}

.desk-margin-right {
    margin-right: 30px;
}

.big-top-pad {
    padding-top: 80px;
}

.top-pad {
    padding-top: 40px;
}

.hr-big {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #11b182;
    margin: 1em 0;
    padding: 0;
}

.hr-small {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ff6348;
    margin: 1em 0;
    padding: 0;
}

.hr-schedule {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #11b182;
    margin: 1em 0;
    padding: 0;
}

.wpcf7-form {
    margin: 0;
}

.hr-video-notes {
    display: block;
    height: 2px;
    border: 0;
    color: rgba(33, 33, 33, 1);
    border-top: 2px solid rgba(70, 70, 70, 1);
    margin: 0 0 1em;
}

.hr-gray {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cacaca;
    margin: 1em 0;
    padding: 0;
}

.hr-white {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #fff;
    margin: 0.6em 0;
    padding: 0;
}

.hr-time {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #838383;
    margin: 0.4em 0;
    padding: 0;
}

.hr-dash {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cacaca;
    margin: 0;
    padding: 0;
}
/* New Workshop Page */
.workshop ul {
    text-align: center;
}

.workshop-year {
    font-size: 1rem;
    font-weight: 600;
}

.workshop-date {
    font-size: 3rem;
//    
    padding-bottom: 20px;
    font-weight: 400;
}

.workshop ul li {
    display: inline-block;
    margin: 30px 30px 0;
}

.workshop .site-inner .wrap {
    max-width: 100%;
    padding: 0 !important;
}

.workshop .content {
    padding-right: 0;
}

.workshop .full-width-block {
    width: 100%;
    background-size: cover;
    position: relative;
}

// .video {
//     display: none;
// }

#video.overlay,
.video.overlay {
    background-color: #000 !important;
    display: table;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}

.video.overlay > div {
    display: table-cell;
    vertical-align: middle;
}

.overlay-x {
    cursor: pointer;
    display: none;
    font-size: 18px;
    font-weight: 600;
    color: #797979;
    background-color: #fff;
    position: absolute;
    letter-spacing: 2px;
    border-radius: 3px;
    padding: 16px 20px;
    margin-top: 30px;
    left: 30px;
    top: 0;
    z-index: 2;
}

.overlay-vid-button {
    cursor: pointer;
    display: none;
    position: absolute;
    margin-top: 30px;
    right: 30px;
    top: 0;
    z-index: 2;
}

.video-x-circle {
    border: 2px solid #797979;
    
    border-radius: 40px;
    color: #797979;
    background-color: #fff;
    width: 40px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 37px;
    padding-left: 2px;
    margin-right: 10px;
    text-align: center;
    height: 40px;
    display: inline-block;
}

.move-this-button {
    right: 70px !important;
    top: -40px !important;
    float: right !important;
    position: absolute;
}

#video.overlay .overlay-x,
.video.overlay .overlay-x {
    display: block;
}

#video.overlay .overlay-vid-button,
.video.overlay .overlay-vid-button {
    display: block;
}

.workshop .full-width-block.overlay > div {
    display: table-cell;
    vertical-align: middle;
}

.workshop .full-width-block.overlay .videoWrapperHide {
    display: block;
}

.workshop .full-width-block-interior {
    padding: 60px 0;
    width: 100%;
    /* max-width: 1110px; */
    margin: auto;
    position: relative;
    z-index: 2;
}

.workshop .full-width-block-interior-top {
    padding: 140px 0 20px;
    width: 100%;
    max-width: 1110px;
    margin: auto;
    position: relative;
    z-index: 2;
}

.workshop .full-width-block-interior-video {
    padding: 168px 0 160px;
    width: 100%;
    max-width: 1110px;
    margin: auto;
    position: relative;
    z-index: 2;
}

.workshop .one-half-block-interior-image {
    padding: 0;
    margin-bottom: 0 !important;
    width: 50%;
    line-height: 0 !important;
    max-width: 1110px;
    margin: auto;
    text-align: left;
    float: left;
    position: relative;
    z-index: 2;
}

.workshop .one-half-block-interior {
    padding: 0;
    margin-bottom: 0 !important;
    width: 50%;
    line-height: 0 !important;
    max-width: 1110px;
    padding: 40px 40px 0;
    margin: auto;
    text-align: left;
    float: left;
    position: relative;
    z-index: 2;
}

.workshop .video-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: inline-block;
    overflow: hidden;
    opacity: 0.4;
}

.workshop .overlay {
    background-color: #33353b;
    opacity: 1;
}

.workshop .bumper {
    display: none;
}

.workshop .video-box video {
    width: 100%;
}

.about-workshop-text {
    color: #5a5a5a;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: "freight-text-pro",sans-serif;
}

.about-workshop-text a {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: "freight-text-pro",sans-serif;
}

.price-container {
    color: #fff;
    background-color: #2B3038;
    margin-bottom: 60px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    font-weight: 400 !important;
    padding: 2rem 0 2.6rem;
}

.cost-headline {
    color: #fff;
    
    margin-bottom: 60px;
    text-align: center;
    font-weight: 400 !important;
    padding: 2rem 0 2.6rem;
}

.workshop-cost {
    
    color: #1acb97;
    line-height: 1.6;
    padding-bottom: 40px;
    font-size: 26px;
    font-size: 3rem;
}

.workshop-each {
    color: #1acb97;
    
    line-height: 0.6;
    padding-bottom: 0;
    font-size: 20px !important;
    font-size: 0.8rem;
}

.workshop-value {
    color: #fff;
    
    font-style: italic;
    line-height: 1.2;
    padding-bottom: 0;
    font-size: 12px;
    font-size: 1.2rem;
}

.topWrapper {
    position: relative;
    padding-bottom: 28.25%;
    /* 16:9 */
    height: 0;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videoWrapperHide,
.videoWrapperTriggerHide {
    display: none;
}

.videoWrapperCta {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    text-align: center;
    padding: 50px;
}
@media only screen and (max-width: 1110px) {
    .workshop .full-width-block-interior {
        padding: 25px;
    }

    #schedule h3 {
        margin-top: 0;
        margin-bottom: 50px;
        background: #f4f0ea;
        display: block;
        max-width: auto;
        text-align: left;
        padding: 0;
        margin: 0 0 23px;
        border-radius: 12px;
        position: relative;
    }
}
@media only screen and (max-width: 980px) {
    .workshop .video-box video {
        display: none;
    }

    .workshop .video-box {
        background: url('http://storybrand.com/wp-content/uploads/2014/06/sb-ws-bg.jpg');
        width: 100% !important;
        background-size: cover;
    }

    .full-width-block-interior-logos {
        padding: 30px 40px 10px;
        width: 80%;
        max-width: 1110px;
        margin: auto;
        position: relative;
        z-index: 2;
    }
}
@media only screen and (max-width: 780px) {

    .button-green-stroke,
    .button-video {
        padding: 15px 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .home-sub-text {
        color: #fff;
        font-size: 16px;
    }
}
@media only screen and (max-width: 768px) {
    #schedule h3 {
        margin-top: 15px;
        margin-left: 10px;
        margin-bottom: 5px;
    }

    .button-green,
    .gfdfysdf a {
        font-size: 15px;
        padding: 18px 20px;
        white-space: normal;
    }

    .five-sixths,
    .four-sixths,
    .one-eighth,
    .one-eighth-button,
    .one-fifth,
    .one-fourth,
    .one-half,
    .one-seventh,
    .one-sixth,
    .one-third,
    .one-third-slider,
    .three-fourths,
    .three-sixths,
    .two-fourths,
    .two-sixths,
    .two-thirds,
    .workshop .one-half-block-interior-image {
        margin: 0;
        width: 100%;
    }

    .full-width-block-interior-logos a {
        text-align: center;
        display: block;
        width: 50%;
        float: left;
    }

    .for-desktop-only {
        display: none !important;
    }

    .full-width-block-interior-logos a img {
        text-align: center;
        display: block;
    }

    .one-third-center {
        width: 85.81196581196582%;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .videoWrapperTrigger h3 {
        padding-top: 15px;
        font-size: 22px;
        color: #fff;
    }

    .full-width-block-interior h2 {
        font-size: 35px;
    }

    .videoWrapperTrigger {
        padding: 150px 20px 40px;
    }

    .full-width-block-interior-quote-sales {
        padding: 90px 20px 100px;
        width: 100%;
        max-width: 1110px;
        margin: auto;
        position: relative;
        z-index: 2;
    }

    .mobile-minus-margin {
        margin-top: -160px !important;
    }

    .for-desktop-only {
        display: none;
    }
}

.videoblockx .video-anchor img {
    padding-top: 80px;
}

.videoWrapperTriggerHide {
    display: block;
}

.button-green-stroke:hover {
    background: rgba(202, 181, 152, 1);
}

#fld_9061908_2:hover,
.button-green:hover,
.gfdfysdf a:hover {
    background-color: #6c3a0e !important;
    color: white !important;
}

.page-template-page-landing .caldera-grid .form-control,
.page-template-page-landing .form-control,
.page-template-page-landing form select {
    background: #fff !important;
}