/* Fonts */
@font-face {
    font-family: 'Edmondsans';
    src: url("./assets/fonts/edmondsans-regular-webfont.eot");
    src: url("./assets/fonts/edmondsans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/edmondsans-regular-webfont.woff2") format("woff2"), url("./assets/fonts/edmondsans-regular-webfont.woff") format("woff"), url("./assets/fonts/edmondsans-regular-webfont.ttf") format("truetype"), url("./assets/fonts/edmondsans-regular-webfont.svg#edmondsansregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Edmondsans';
    src: url("./assets/fonts/edmondsans-medium-webfont.eot");
    src: url("./assets/fonts/edmondsans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/edmondsans-medium-webfont.woff2") format("woff2"), url("./assets/fonts/edmondsans-medium-webfont.woff") format("woff"), url("./assets/fonts/edmondsans-medium-webfont.ttf") format("truetype"), url("./assets/fonts/edmondsans-medium-webfont.svg#edmondsansmedium") format("svg");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Edmondsans';
    src: url("./assets/fonts/edmondsans-bold-webfont.eot");
    src: url("./assets/fonts/edmondsans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/edmondsans-bold-webfont.woff2") format("woff2"), url("./assets/fonts/edmondsans-bold-webfont.woff") format("woff"), url("./assets/fonts/edmondsans-bold-webfont.ttf") format("truetype"), url("./assets/fonts/edmondsans-bold-webfont.svg#edmondsansbold") format("svg");
    font-weight: 800;
    font-style: normal;
}
/**
 * 1.0 Typography
 * ----------------------------------------------------------------------------
**/
h1 {
    font-weight: 100;
    color: #58585b;
    font-size: 35px;
    line-height: 49px;
}
@media only screen and (min-width: 64.063em) {
    h1 {
        font-size: 46px;
    }
}

.product-list h1 {
    font-weight: 800;
    color: #58585b;
    font-size: 26px;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    color: #e0dacd;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    color: #58585b;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
@media only screen and (max-width: 40em) {
    h3.addon-name {
        font-size: 14px;
    }
}

h4 {
    color: #58585b;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 40px;
}

h4.large {
    font-size: 54px;
    line-height: 58px;
    padding-bottom: 20px;
}

h5 {
    font-weight: 300;
    font-size: 30px;
    line-height: 38px;
    padding-bottom: 40px;
}

p {
    color: #43382a;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
@media only screen and (min-width: 40.063em) {
    p {
        font-size: 20px;
        line-height: 27px;
    }
}

p.large {
    font-size: 24px;
}

p.name {
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
}

p.uppercase {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 21px;
}

::selection {
    background: rgba(255, 206, 0, 0.5);
}

::-moz-selection {
    background: rgba(255, 206, 0, 0.5);
}

.white {
    color: white;
}

.black {
    color: black;
}

.light {
    color: #e0dacd;
}

.dark {
    color: #43382a;
}

.dark-grey {
    color: #333333;
}

a {
    text-transform: none;
}

a:hover {
    color: #58585b;
}

a.link {
    text-decoration: underline;
    color: #43382a;
}

a.link:hover {
    text-decoration: none;
}

a,
.container p a {
    color: #6c3a0e;
    
    &:hover {
        color: #C8B499;
    }
}

.banner {
    min-width: 100%;
}

.banner h1 {
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0;
}
@media only screen and (max-width: 40em) {
    .banner h1 {
        margin-top: 50px;
    }
}

.banner .header-tagline {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
    line-height: 30px;
    display: block;
}

.banner .header-link:hover {
    color: #e0dacd;
}

.banner .button {
    display: inline-block;
    margin: 30px 0 0 20px;
}

.yellow {
    color: #e0dacd;
}