footer.full-width {
    background-color: black !important;
    padding: 20px 0 !important;
    border-top: 0 !important;
    transition: 0.3s all;
}
@media only screen and (max-width: 40em) {
    footer.full-width .left,
    footer.full-width .right {
        float: none !important;
        display: block;
        margin: 10px 0;
    }
}

footer.full-width a {
    color: #e0dacd !important;
}

footer.full-width a:hover {
    color: #f04e23 !important;
}

footer.full-width p {
    font-size: 14px;
    color: #e0dacd;
    line-height: 20px;
    margin-bottom: 0;
}

footer.full-width h3 {
    font-size: 18px;
    letter-spacing: 1px;
}
@media only screen and (max-width: 40em) {
    footer.full-width h3 {
        margin-top: 50px;
    }
}

footer.full-width.brand .copyright {
    margin-top: 20px;
}

footer.full-width .facebook {
    background: url("./assets/img/_icons/facebook.png") center center no-repeat;
    background-size: contain;
    padding: 15px;
    transition: 0.3s all;
    opacity: 0.8;
}

footer.full-width .facebook:hover {
    transition: 0.3s all;
    opacity: 1;
}

footer.full-width .twitter {
    background: url("./assets/img/_icons/twitter.png") center center no-repeat;
    background-size: contain;
    padding: 15px;
    transition: 0.3s all;
    opacity: 0.8;
}

footer.full-width .twitter:hover {
    transition: 0.3s all;
    opacity: 1;
}

footer.full-width .instagram {
    background: url("./assets/img/_icons/instagram.png") center center no-repeat;
    background-size: contain;
    padding: 15px;
    transition: 0.3s all;
    opacity: 0.8;
}

footer.full-width .instagram:hover {
    transition: 0.3s all;
    opacity: 1;
}

footer.full-width .copyright {
    margin-top: 50px;
    font-family: "Edmondsans", sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px;
    color: #434244;
}

footer.full-width .copyright a {
    font-family: "Edmondsans", sans-serif !important;
    font-weight: 300 !important;
    font-size: 16px;
    color: #434244 !important;
}

footer.full-width .copyright .divider {
    padding: 0 10px;
    font-size: 21px;
    vertical-align: middle;
}

footer.full-width .aptf-single-tweet-wrapper {
    background-color: #f4f4f4;
    padding: 20px;
}

footer.full-width .aptf-single-tweet-wrapper p {
    font-size: 16px;
    font-weight: 300 !important;
    color: #434244;
}

footer.full-width .aptf-single-tweet-wrapper a {
    font-size: 16px;
    font-weight: 400 !important;
    color: #234092 !important;
    text-decoration: none;
}

footer.full-width .aptf-single-tweet-wrapper a:hover {
    color: #58585b !important;
}

footer.full-width .aptf-single-tweet-wrapper .aptf-count {
    display: none;
}

footer.full-width .aptf-single-tweet-wrapper .aptf-tweet-content {
    font-size: 16px;
    font-weight: 300 !important;
    color: #434244;
}

footer.full-width .social .linkedin {
    background: left center no-repeat;
    padding-left: 40px;
}

footer.full-width .social .twitter {
    background: left center no-repeat;
    padding-left: 40px;
}

footer.full-width .social a {
    display: block;
}

footer.full-width ul.resources {
    margin-top: 20px;
    margin-left: 0;
    font-weight: 400;
    font-size: 16px;
    list-style: none;
}

footer.full-width ul.resources li {
    margin: 15px 0;
}

.woocommerce-checkout #payment div.payment_box {
    display: none !important;
}