header {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 0;
      max-width: 71.25rem;
      zoom: 1;
      padding-bottom: 0.625rem;
    
    &:before, 
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
    
    .logo {
      position: relative;
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
      width: 25%;
      margin-left: auto;
      margin-right: auto;
      float: none;
      float: left;
    }

    .top-bar .top-bar-section ul li.appointment {
        transition: 0.3s all;
        /*
    &:hover {
    		height: 250px !important;
    		transition: 0.3s all;
    	}
    */
    }

    &.contain-to-grid {
        background-color: transparent;
        margin-bottom: 0 !important;
    }

    .fixed {
        background-color: rgba(21, 17, 10, 0.8);
        z-index: 999;
        transition: 0.1s;
        max-height: 98px;

        &.solid {
            transition: 0.8s;
            background-color: rgba(21, 17, 10, 0.9);

            .top-bar {
                transition: 0.3s;
                height: 65px;

                .title-area {
                    transition: 0.3s;

                    img {
                        transition: 0.3s;
                        width: 426px;
                    }
                }
            }
        }
    }

    .top-bar {
        background-color: transparent;
        height: 65px;
        z-index: 99;

        .title-area {
            padding-top: 3px;

            img {
                width: 426px;
            }
        }

        .name {
            height: 57px;

            h1 a {
                width: 150px;
            }
        }

        .top-bar-section {
            ul {
                background: transparent;

                .appointment-shadow:hover {
                    -webkit-box-shadow: 2px 2px 12px 0 rgba(50, 50, 50, 0.33);
                    -moz-box-shadow: 2px 2px 12px 0 rgba(50, 50, 50, 0.33);
                    box-shadow: 2px 2px 12px 0 rgba(50, 50, 50, 0.33);
                }

                li {
                    &:not(.has-form) a:not(.button) {
                        padding: 0 20px;
                    }

                    &.appointment {
                        position: relative;
                        background: #CAB598;

                        a {
                            color: black;
                            line-height: 14px;
                            padding: 20px 20px 20px 100px !important;
                            background: url("./assets/img/pete-head.png") 10% center no-repeat;
                            background-size: 47%;
                            transition: ease all 100ms;

                            &:hover {
                                padding: 20px 20px 20px 100px !important;
                                background: url("./assets/img/pete-head.png") 10% center no-repeat;
                                background-size: 47%;
                            }
                        }

                        .appointment-bottom {
                            position: absolute;
                            background: url("./assets/img/pete-body.png") 10% top #CAB598 no-repeat;
                            background-size: 47%;
                            width: 223px;
                            height: 0;
                            opacity: 0;
                            overflow: hidden;
                            color: #fff;
                            transition: ease all 100ms;

                            .right {
                                font-size: 16px;
                                margin-top: 20px;
                                line-height: 21px;
                                max-width: 100px;
                                font-weight: bold;
                                color: white;
                                padding: 0 12px 0 0;
                            }

                            #toggle-appointment {
                                font-size: 10px;
                                background: none;
                                padding-left: 20px !important;
                                padding-top: 180px !important;
                                display: block;
                                background: none;
                            }
                        }

                        &:hover .appointment-bottom {
                            opacity: 1;
                            height: 210px;
                        }
                    }

                    .dropdown {
                        transition: ease all 100ms;
                    }

                    a {
                        font-size: 12px;
                        font-weight: 800;
                        color: #e0dacd;
                        background-color: transparent !important;
                        padding-top: 15px !important;
                        text-transform: uppercase;
                        letter-spacing: 2px;

                        &:hover {
                            color: white;
                            transition: none;
                        }
                    }

                    &.active a {
                        color: #e0dacd;
                    }
                }
            }

            .has-dropdown > a {
                padding-right: 20px !important;
                cursor: pointer;

                &:after {
                    display: none;
                }
            }
        }
    }
}

.dropdown-animation {
    ul li ul li {
        max-height: 0;
        position: absolute;
        -webkit-transition: max-height 1.2s ease-out;
        -moz-transition: max-height 1.2s ease-out;
        -ms-transition: max-height 1.2s ease-out;
        -o-transition: max-height 1.2s ease-out;
        transition: max-height 1.2s ease-out;

        &:hover > ul > li {
            max-height: 100px;
            height: auto;
            position: relative;
        }
    }

    > ul > li {
        &:hover > ul {
            left: 0;

            > li {
                max-height: 100px;
                height: auto;
                position: relative;
            }
        }

        > ul {
            width: auto;
            min-width: 200px;
            display: block;
        }
    }
}
@media only screen and (max-width: 40em) {
    header .fixed.solid .top-bar {
        height: 55px;
    }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    header .fixed.solid .top-bar {
        height: 55px;
    }
}
@media only screen and (max-width: 40em) {
    header .fixed.solid .top-bar .title-area img {
        width: 426px;
    }
}
@media only screen and (max-width: 40em) {
    header .top-bar {
        height: 55px;
    }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    header .top-bar {
        height: 55px;
    }
}
@media only screen and (min-width: 64.063em) {
    header .top-bar .title-area {
        padding-top: 10px;
    }
}
@media only screen and (max-width: 40em) {
    header .top-bar .title-area img {
        width: 426px;
    }
}
@media only screen and (min-width: 64.063em) {
    header .top-bar .title-area img {
        transition: 0.3s;
    }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    header .top-bar .name {
        height: 52px;
    }
}
@media only screen and (min-width: 64.063em) {
    header .top-bar .name h1 a {
        width: 150px;
    }
}
@media only screen and (max-width: 40em) {
    header .top-bar .top-bar-section ul {
        padding-bottom: 30px;
    }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    header .top-bar .top-bar-section ul li:not(.has-form) a:not(.button) {
        padding: 0 20px;
    }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    header .top-bar .top-bar-section ul li a {
        padding-top: 30px !important;
    }
}
@media only screen and (min-width: 64.063em) {
    header .top-bar .top-bar-section ul li a {
        transition: 0.3s;
        padding-top: 14px !important;
        padding-bottom: 8px !important;
    }
}
@media only screen and (max-width: 850px) {
    header .top-bar .top-bar-section ul li a {
        text-align: center;
    }
}