.landing-page {
    margin-top: 77px;
    
    @media only screen and (min-width: 64.063em) {
        margin-top: 87px;
    }
}

.landing-page-banner {
    background: #43382A;
    padding: 20px 0;
    text-align: center;
    
    h2 {
        display: inline-block;
        text-transform: uppercase;
        
        span {
            white-space: nowrap;
        }
    }
}

.crest {
    width: 80px;
    display: inline-block;
    margin-right: 0;
    margin-bottom: 20px;
    
    @media only screen and (min-width: 40.063em) {
        margin-right: 40px;
        margin-bottom: 0;
    }
}

.landing-page-content {
    font-size: 25px;
    line-height: 45px;
    
    h1 {
        font-size: 45px;
        line-height: 60px;
    }
    
    p {
        font-size: 25px;
        line-height: 45px;
    }
}
